@import 'https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800|Poppins:300,400,500,600,700&subset=devanagari,latin-ext'

@font-face
	font-family: 'icomoon'
	src: url('../fonts/sprite/icomoon.eot?gpqucs')
	src: url('../fonts/sprite/icomoon.eot?gpqucs#iefix') format('embedded-opentype'), url('../fonts/sprite/icomoon.ttf?gpqucs') format('truetype'), url('../fonts/sprite/icomoon.woff?gpqucs') format('woff'), url('../fonts/sprite/icomoon.svg?gpqucs#icomoon') format('svg')
	font-weight: normal
	font-style: normal