doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: true
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: true
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			+b-heading("Budget Tool", "b-heading__text_sm")(class="b-heading_main b-heading_brd_b_none_mb")

			.l-content-wrapper.l-content-wrapper_with_heading_brd_b_none_mb._bg_light._bg_white_mb

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-valign-center.l-valign-center_main.l-valign-center_without_inside_space
						.l-valign-center__item.b-steps-nav__bind.b-steps-nav__bind_budget_tool

							+b-steps-nav__arrows

							.c-slick.b-slick.b-slick_style_2

								form.b-box.b-box_md.b-box_md_slider(action="")

									+b-heading("What is your income?")(class="b-box__item b-box__item_first _text_center b-heading_lg")

									.b-box__body.b-box__item.b-box__item_last.b-box__body_p_b_lg_mb

										.b-budget-form.-ol-form-body

											.-ol-row.-ol-row-input

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Salary

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="6.500")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option(selected) Fortnightly
																			option Monthly
																			option Quarterly
																			option Annually

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Groceries

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="550")

															
															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option(selected) Monthly
																			option Quarterly
																			option Annually

											.-ol-row.-ol-row-input

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Investment income

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="1.250")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option Monthly
																			option Quarterly
																			option(selected) Annually

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Allowances

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option(selected) Monthly
																			option Quarterly
																			option Annually

											.-ol-row.-ol-row-input

												.b-budget-form__block.b-budget-form__block_last.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Other Income

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="5.750")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option Monthly
																			option(selected) Quarterly
																			option Annually

										.b-footer-btn

											.b-footer-btn__item
										
												button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_discolored.-ol-btn_min_w_mdl Cancel

											.b-footer-btn__item

												button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_primary_light.-ol-btn_next.-ol-btn_step.-ol-btn_min_w_mdl(type="reset") Next
													span.-ol-btn__number 1

								form.b-box.b-box_md.b-box_md_slider(action="")

									+b-heading("Great! How about your expenses?")(class="b-box__item b-box__item_first _text_center b-heading_lg")

									.b-box__body.b-box__item.b-box__item_last.b-box__body_p_b_lg_mb

										.b-budget-form.-ol-form-body

											.-ol-row.-ol-row-input

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Rent

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="1.500")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option(selected) Monthly
																			option Quarterly
																			option Annually

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Groceries

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="1.200")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option(selected) Monthly
																			option Quarterly
																			option Annually

											.-ol-row.-ol-row-input

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Insurance

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="350")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option(selected) Monthly
																			option Quarterly
																			option Annually

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Income Protection

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="4.000")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option Monthly
																			option Quarterly
																			option(selected) Annually

											.-ol-row.-ol-row-input

												.b-budget-form__block.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Cosmetics &amp; beauty

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="750")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option Fortnightly
																			option Monthly
																			option(selected) Quarterly
																			option Annually

												.b-budget-form__block.b-budget-form__block_last.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12

													label.-ol-label
														.-ol-label-text.-ol-label-text_simple Other expenses

														.-ol-row

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_currency
																	.-ol-input-wrap.-ol-input-wrap_currency(data-currency="$")
																		input.-ol-input(type="text", placeholder="0.00", value="200")

															.-ol-col-6.-ol-col-tb-6.-ol-col-mb-12
																.b-budget-form__item.b-budget-form__item_last
																	.-ol-input-wrap
																		select.c-select
																			option(selected) Fortnightly
																			option Monthly
																			option Quarterly
																			option Annually

										.b-footer-btn

											.b-footer-btn__item
										
												button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_discolored.-ol-btn_min_w_mdl Cancel

											.b-footer-btn__item

												button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_primary_light.-ol-btn_next.-ol-btn_step.-ol-btn_min_w_mdl(type="reset") Next
													span.-ol-btn__number 2

								.b-box.b-box_md.b-box_md_slider(action="")

									+b-heading("Congratulations! Your budget is in surplus", "b-heading__text_sm b-heading__text_primary b-heading__text_color_default_mb b-heading__text_size_default_mb")(class="b-box__item b-box__item_first _text_center b-heading_lg b-heading_brd_b_none_mb")

									.b-box__body.b-box__body_without_inside_space.b-box__item.b-box__item_last._mb_none

										table.-ol-table.-ol-table_tb.-ol-table_even.-ol-table_style_1.-ol-table_style_1_tb

											tbody.c-table-hover

												tr
													th.-ol-table__th
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Fortnightly
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Monthly
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Quarterly
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Annually

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Income
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 6.500
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 13.550
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 46.400
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 186.800

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Rent
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 0
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 1.500
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 4.500
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 18.000

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Groceries
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 0
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 1.200
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 3.600
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 14,400

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Insurance &amp; protection
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 0
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 350
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 1.050
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 8.200

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Cosmetics &amp; beauty
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 0
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 0
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 750
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 3.000

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_tb Other expenses
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 200
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 400
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 1.200
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_tb 4.800

											tfoot.-ol-table__footer

												tr
													th.-ol-table__th
														span.-ol-table__th-text.-ol-table__th-text_lg.-ol-table__th-text_tb Summary
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_number.-ol-table__td-text_marked.-ol-table__td-text_bold.-ol-table__td-text_tb 6.300
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_numberb.-ol-table__td-text_marked.-ol-table__td-text_bold.-ol-table__td-text_tb 10.500
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_numberb.-ol-table__td-text_marked.-ol-table__td-text_bold.-ol-table__td-text_tb 35.300
													td.-ol-table__td
														span.-ol-table__td-text.-ol-table__td-text_numberb.-ol-table__td-text_marked.-ol-table__td-text_bold.-ol-table__td-text_tb 138.400

									.b-box__body.b-box__body_without_inside_space.b-box__item.b-box__item_last.b-box__body_p_b_lg_mb._mb_only

										table.-ol-table-mb.-ol-table-mb_even

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Summary

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number.-ol-table-mb__td-text_marked 6.300

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number.-ol-table-mb__td-text_marked 10.500

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number.-ol-table-mb__td-text_marked 35.300

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number.-ol-table-mb__td-text_marked 138.400

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Income

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 6.500

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 13.550

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 46.400

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 186.800

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Rent

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 0

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 1.500

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 4.500

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 18.00

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Groceries

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 0

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 1.200

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 3.600

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 14.400

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Insurance &amp; protection

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 0

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 350
												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 1.050

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 8.200

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Cosmetics &amp; beauty

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 0

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 0

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 750

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 3.000

										table.-ol-table-mb.-ol-table-mb_even._none.c-switcher----more-info

											thead.-ol-table-mb__header

												tr
													th(colspan="2")
														span.-ol-table-mb__th-text Other expenses

											tbody

												tr
													th
														span.-ol-table-mb__th-text Fortnightly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 200

												tr
													th
														span.-ol-table-mb__th-text Monthly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 400

												tr
													th
														span.-ol-table-mb__th-text Quarterly
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 1.200

												tr
													th
														span.-ol-table-mb__th-text Annually
													td
														span.-ol-table-mb__td-text.-ol-table-mb__td-text_number 4.800

										.-ol-container_full

											.b-footer-btn

												.b-footer-btn__item.c-switcher----more-info
											
													button.b-footer-btn__btn.-ol-btn.-ol-btn_lg._full_w.c-switcher(button="button" data-element=".c-switcher----more-info" data-class="_none") More Info

												.b-footer-btn__item._none.c-switcher----more-info

													button.b-footer-btn__btn.-ol-btn.-ol-btn_lg._full_w.c-switcher(button="button" data-element=".c-switcher----more-info" data-class="_none") Hide Info


				.l-content-wrapper__item
					+b-footer



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/plugin/select2.min.js" )

		script(
			src="dist/js/plugin/slick.min.js" )

		script(
			src="dist/js/specific/app.js" )