doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			.l-content-wrapper

				.l-content-wrapper__item.l-content-wrapper__item_major
					include includes/b-hero.jade
					include includes/b-short-info----stress.jade
					include includes/b-text-block.jade
					include includes/b-short-info----help.jade
					include includes/b-divisions.jade

				.l-content-wrapper__item
					+b-footer



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )