doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active:  true
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: true
					}
				]
			)

			+b-heading("Mindfulness Sessions", "b-heading__text_sm")(class="b-heading_main b-heading_brd_b_none_tb b-heading_white")

			.l-content-wrapper.l-content-wrapper_with_heading_brd_b_none_tb

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-mindfulness-sessions._tb_none

						.b-track-info.l-mindfulness-sessions__item.l-mindfulness-sessions__item_main

							.b-track-info__inner

								.b-track-info__text-info.b-track-info__item

									.l-horizontally

										.l-horizontally__item.l-horizontally__item_middle

											.b-track-info__text-info-inner

												.b-track-info__content

													h2.b-track-info__number Session 1
													.b-track-info__duration 28:34

													h3.b-track-info__title Foundation
													p.b-track-info__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio, aspernatur! Minus fuga dolor sint sunt a. Pariatur excepturi nisi blanditiis cum sapiente mollitia cupiditate suscipit culpa, nihil, eligendi.

									button.-ol-btn-round-play.-ol-btn-round-play_right.c-modal__bind(data-text="Play" data-number="4")

								.b-track-info__cover.b-track-info__item(style="background-image: url(media/img/content/sessions/1.jpg)")

						.b-tracks-list.l-mindfulness-sessions__item

							.b-steps-nav.b-steps-nav__bind._h_100_per

								+b-steps-nav__arrows('c-slick_3_slides__prev', 'c-slick_3_slides__next')

								.c-slick_3_slides.b-slick.b-slick_style_1

									.b-tracks-list__item.b-tracks-list__item_active

										.b-tracks-list__item-content

											.b-tracks-list__item-cover(style="background-image: url(media/img/content/sessions/1.jpg)")

											h3.b-tracks-list__item-title
												span.b-tracks-list__item-title-text Foundation

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 1
											.b-tracks-list__item-duration 28:34
											button.b-tracks-list__item-btn-open
												span.b-tracks-list__item-btn-open-text-wrapper
													span.b-tracks-list__item-btn-open-text Open

									.b-tracks-list__item.b-tracks-list__item_active

										.b-tracks-list__item-content

											.b-tracks-list__item-cover(style="background-image: url(media/img/content/sessions/2.jpg)")

											h3.b-tracks-list__item-title
												span.b-tracks-list__item-title-text Relaxation

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 2
											.b-tracks-list__item-duration 32:21
											button.b-tracks-list__item-btn-open
												span.b-tracks-list__item-btn-open-text-wrapper
													span.b-tracks-list__item-btn-open-text Open

									.b-tracks-list__item.b-tracks-list__item_active

										.b-tracks-list__item-content

											.b-tracks-list__item-cover(style="background-image: url(media/img/content/sessions/3.jpg)")

											h3.b-tracks-list__item-title
												span.b-tracks-list__item-title-text Thinking to Sensing

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 3
											.b-tracks-list__item-duration 22:14
											button.b-tracks-list__item-btn-open
												span.b-tracks-list__item-btn-open-text-wrapper
													span.b-tracks-list__item-btn-open-text Open

									.b-tracks-list__item

										.b-tracks-list__item-content.l-horizontally
											.l-horizontally__item.l-horizontally__item_middle
												.b-tracks-list__item-heading Unavailable
												.b-tracks-list__item-subheading Please, complete Session 4

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 4

									.b-tracks-list__item

										.b-tracks-list__item-content.l-horizontally
											.l-horizontally__item.l-horizontally__item_middle
												.b-tracks-list__item-heading Unavailable
												.b-tracks-list__item-subheading Please, complete Session 5

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 5

									.b-tracks-list__item

										.b-tracks-list__item-content.l-horizontally
											.l-horizontally__item.l-horizontally__item_middle
												.b-tracks-list__item-heading Unavailable
												.b-tracks-list__item-subheading Please, complete Session 6

										.b-tracks-list__item-info
											h2.b-tracks-list__item-number-text Session
											.b-tracks-list__item-number 6

					._tb_only

						+b-steps-nav__arrows('c-slick_fade__prev', 'c-slick_fade__next')(class="b-steps-nav_style_2 b-steps-nav_bg_white b-steps-nav_bottom")

						.c-slick_fade

							.b-track-info-sm

								.b-track-info-sm__main-info

									.b-track-info-sm__main-info-content

										.b-track-info-sm__cover(style="background-image: url(media/img/content/sessions/1.jpg)")
								
										button.-ol-btn-round-play.-ol-btn-round-play_sm.c-modal__bind(data-text="Play" data-number="4")

										h3.b-track-info-sm__title
											span.b-track-info-sm__title-text Foundation


									h2.b-track-info-sm__number
										.b-track-info-sm__number-text 1

								.b-track-info-sm__more-info

									.-ol-container

										.b-track-info-sm__duration 28:34

										p.b-track-info-sm__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio, aspernatur! Minus fuga dolor sint sunt a. Pariatur excepturi nisi blanditiis cum sapiente mollitia cupiditate suscipit culpa, nihil, eligendi.

							.b-track-info-sm

								.b-track-info-sm__main-info

									.b-track-info-sm__main-info-content

										.b-track-info-sm__cover(style="background-image: url(media/img/content/sessions/2.jpg)")
								
										button.-ol-btn-round-play.-ol-btn-round-play_sm.c-modal__bind(data-text="Play" data-number="4")

										h3.b-track-info-sm__title
											span.b-track-info-sm__title-text Relaxation


									h2.b-track-info-sm__number
										.b-track-info-sm__number-text 2

								.b-track-info-sm__more-info

									.-ol-container

										.b-track-info-sm__duration 32:21

										p.b-track-info-sm__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio, aspernatur! Minus fuga dolor sint sunt a. Pariatur excepturi nisi blanditiis cum sapiente mollitia cupiditate suscipit culpa, nihil, eligendi.

							.b-track-info-sm

								.b-track-info-sm__main-info

									.b-track-info-sm__main-info-content

										.b-track-info-sm__cover(style="background-image: url(media/img/content/sessions/3.jpg)")
								
										button.-ol-btn-round-play.-ol-btn-round-play_sm.c-modal__bind(data-text="Play" data-number="4")

										h3.b-track-info-sm__title
											span.b-track-info-sm__title-text Thinking to Sensing


									h2.b-track-info-sm__number
										.b-track-info-sm__number-text 3

								.b-track-info-sm__more-info

									.-ol-container

										.b-track-info-sm__duration 22:14

										p.b-track-info-sm__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio, aspernatur! Minus fuga dolor sint sunt a. Pariatur excepturi nisi blanditiis cum sapiente mollitia cupiditate suscipit culpa, nihil, eligendi.

				.l-content-wrapper__item
					+b-footer


			include includes/b-box----modal-how-calm--4



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/plugin/slick.min.js" )

		script(
			src="dist/js/plugin/modal.js" )

		script(
			src="dist/js/specific/app.js" )