doctype html
html(lang="en")
	include includes/base/head.jade

	body._min_h_auto

		include includes/b-preloader.jade

		.-ol-body._hidden.b-player-animation.c-move-tracking( data-class="b-player-animation_disabled" data-time="5000" data-first-init="true" data-first-init-delay="1500" )

			.b-player__img.b-player-animation__item.b-player-animation__item_before.b-player-animation__item_after(style="background-image: url(media/img/content/sessions/1.jpg)")

			a.b-close.b-player-animation__item.b-player-animation__item_to_top(href="mindfulness_sessions.html")

				.b-close__text Close

			.b-player.b-player-animation__item.b-player-animation__item_to_bottom.b-player-animation__item_to_bottom_none_mb

				.b-player__item

					button.b-player__play-btn.b-player__btn.b-player-animation__btn

					button.b-player__pause-btn.b-player__btn.b-player__btn_active.b-player-animation__item.b-player-animation__item_opacity_mb

				.b-player__item.b-player__item_next_to_btn

					.b-player__current-time.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

						.b-player__current-time-text 2:34

				.b-player__item.b-player__item_major

					.b-player__item-inner

						.b-player__name.b-player-animation__name.b-player-animation__item.b-player-animation__item_opacity_mb

							.b-player__name-text Foundation

						.b-player__progress-control.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

							button.b-player__progress-holder

							.b-player__progress-control-bar

								.b-player__load-progress
								.b-player__play-progress

				.b-player__item

					.b-player__duration.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

						.b-player__duration-text 11:56



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )