doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			.l-content-wrapper._bg_light

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-profile

						+b-profile-info(class="l-profile__item l-profile__item_left_fixed_block")

						.l-profile__item

							.l-vertically

								.l-vertically__item

									+b-stats

								.l-vertically__item.l-vertically__item_major

									.l-profile._hidden

										.l-profile__item

										+b-profile-options(class="l-profile__item l-profile__item_left_fixed_block _brd_t")


					

				.l-content-wrapper__item
					+b-footer

			include includes/b-box----modal-profile-info--1.jade



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/plugin/circle-progress.js" )

		script(
			src="dist/js/plugin/modal.js" )

		script(
			src="dist/js/plugin/select2.min.js" )

		script(
			src="dist/js/specific/app.js" )
