doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: false
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			.l-content-wrapper._bg_light

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-valign-center.l-valign-center_main.l-valign-center_sign
						.l-valign-center__item

							.b-box.b-box_sign
								include includes/b-sign----sign-in.jade

				.l-content-wrapper__item
					+b-footer(class="b-footer_brd_none_sign")



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )