doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: true
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: true
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			+b-heading("Wellness Survey", "b-heading__text_sm")(class="b-heading_main b-heading_brd_b_none_mb")

			.l-content-wrapper.l-content-wrapper_with_heading_brd_b_none_mb._bg_light._bg_white_mb

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-valign-center.l-valign-center_slider_destroy_mb.l-valign-center_main.l-valign-center_without_inside_space
						.l-valign-center__item.b-steps-nav__bind.b-steps-nav__bind_wellness_survey

							+b-steps-nav__arrows('c-slick__prev', 'c-slick__next')

							.c-slick.b-slick.b-slick_style_2

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("1", "6", "In the past month, to what degree have you…", "Felt a loss of interest in things that you used to enjoy because of your financial situation?")

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("2", "6", "In the past month to what degree has…", "A financial situation made you feel distant or cut of from other people?")

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("3", "6", "In the past month, to what degree have you…", "Felt very upset when something reminded you of a stressful financial experience from the past?")

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("4", "6", "In the past Month, to what degree have you…", "Suddenly act or felt as if a stressful financial experience was happening again, as if you were reliving it?")

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("5", "6", "In the past month to what degree have you…", "Had difficulty concentrating because of your financial situation?")

								form.b-box.b-box_md.b-box_md_slider(action="")
									.b-box__item.b-box__item_first.b-box__item_last
										+b-survey("6", "6", "In the past month, to what degree have you...", "Felt irritable or had angry outbursts because of your financial situation?")

				.l-content-wrapper__item
					+b-footer



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/plugin/slick.min.js" )

		script(
			src="dist/js/specific/app.js" )