doctype html
html(lang="en")
	include includes/base/head.jade

	body

		include includes/b-preloader.jade

		.-ol-body


			+b-header(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget Tool",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Wellness Survey",
						active: true
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Mindfulness Sessions",
						active: false
					}
				]
			)


			+b-nav-mb(
				[
					{
						target: false,
						link: "budget_tool.html",
						name: "Budget",
						className: "budget",
						active: false
					},
					{
						target: false,
						link: "wellness_survey.html",
						name: "Survey",
						className: "survey",
						active: true
					},
					{
						target: false,
						link: "mindfulness_sessions.html",
						name: "Sessions",
						className: "sessions",
						active: false
					}
				]
			)

			+b-heading("Your Score", "b-heading__text_sm")(class="b-heading_main")

			.l-content-wrapper.l-content-wrapper_with_heading._bg_light._bg_white_mb

				.l-content-wrapper__item.l-content-wrapper__item_major

					.l-valign-center.l-valign-center_main.l-valign-center_without_inside_space
						.l-valign-center__item

							.b-box.b-box_md
								.b-box__body.b-box__item.b-box__item_first.b-box__item_last.b-box__body_p_b_lg_mb

									.b-progress

										.b-progress__bar.c-size

											.b-progress__bar-mark.b-progress__bar-mark_achievable(style="left: 65%;")

											.b-progress__bar-active-area-wrapper(style="width: 75%;")
												.b-progress__bar-active-area.c-size__item(data-property="width")

										.b-progress__text-line

											.b-progress__text-line-item.b-progress__text.b-progress__text_from Not at all

											.b-progress__text-line-item.b-progress__text.b-progress__text_to Extremely

									.b-result-text You might be a bit stressed, but we can help you improve that!

									.b-footer-btn.b-footer-btn_center

										.b-footer-btn__item
											button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_discolored Try again

										.b-footer-btn__item
											button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg Continue

				.l-content-wrapper__item
					+b-footer



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )