=col($col: $n-col, $gap: $p_horiz-col, $gap-tb: $p_horiz-col_tb, $valign: $v_align-col)

	[class*=-ol-col-]
		position: relative
		vertical-align: $valign
		padding: 0 $gap

		+md-tablet
			width: 100%
			padding: 0 $gap-tb

	.-ol-col

		&_without_inside_space
			padding: 0

	[class*=-ol-col-offset-]
		margin-left: 0

	@for $i from 1 through $col

		$per: 1 / $col * $i

		+md-desk

			.-ol-col-#{$i}
				width: percentage($per) !important

			.-ol-col-offset-#{$i}
				margin-left: percentage($per)



		+md-desk_min

			.-ol-col-dm-#{$i}
				width: percentage($per) !important

			.-ol-col-dm-offset-#{$i}
				margin-left: percentage($per)

		+md-tablet

			.-ol-col-tb-#{$i}
				width: percentage($per) !important

			.-ol-col-tb-offset-#{$i}
				margin-left: percentage($per)

		+md-mobile

			.-ol-col-mb-#{$i}
				width: percentage($per) !important

			.-ol-col-mb-offset-#{$i}
				margin-left: percentage($per)