=img-wrap($w: auto, $h: auto)
	width: $w
	height: $h
	overflow: hidden

	img
		display: block
		width: 100%
		height: auto

=img-wrap_auto($w: auto, $h: auto)
	width: $w
	height: $h

	overflow: hidden

	font-size: 0 !important
	letter-spacing: 0 !important

	img
		display: inline-block
		max-width: 100%
		max-height: 100%

=img-wrap_center($w: auto, $h: auto)
	width: $w
	height: $h

	overflow: hidden

	font-size: 0 !important
	line-height: $h
	letter-spacing: 0 !important

	text-align: center

	img
		display: inline-block
		max-width: 100%
		max-height: 100%