=link-variant ( $color: $c-link, $border: $brd-c-link, $color_hover: $c-link_hover, $border_hover: $brd-c-link_hover )

	display: inline
	border-bottom: $brd_w-link solid $border

	color: $color !important
	line-height: inherit
	cursor: pointer

	&:hover
		border-bottom-color: $border_hover
		color: $color_hover !important