=ol($item)
	counter-reset: list

	> #{$item}

		&:before
			content: counter(list) '. '
		 	counter-increment: list

			display: inline-block

=ol-pos($item, $top: 0, $left: 0)
	counter-reset: list

	> #{$item}
		position: relative

		&:before
			content: counter(list) '. '
		 	counter-increment: list

			display: block

			position: absolute
			top: $top
			left: $left