=placeholder( $color: $c-placeholder, $color_focus: transparent, $color_hover: $c-placeholder, $fw: inherit, $lts: $lts, $overflow: ellipsis, $opacity: 1 )

	&::-webkit-input-placeholder
		opacity: $opacity
		color: $color
		font-weight: $fw
		letter-spacing: $lts

	&::-moz-placeholder
		opacity: $opacity
		color: $color
		font-weight: $fw
		letter-spacing: $lts

	&:-moz-placeholder
		opacity: $opacity
		color: $color
		font-weight: $fw
		letter-spacing: $lts

	&:-ms-input-placeholder
		opacity: $opacity
		color: $color
		font-weight: $fw
		letter-spacing: $lts





	&:hover::-webkit-input-placeholder
		opacity: $opacity
		color: $color_hover
		font-weight: $fw
		letter-spacing: $lts

	&:hover::-moz-placeholder
		opacity: $opacity
		color: $color_hover
		font-weight: $fw
		letter-spacing: $lts

	&:hover:-moz-placeholder
		opacity: $opacity
		color: $color_hover
		font-weight: $fw
		letter-spacing: $lts

	&:hover:-ms-input-placeholder
		opacity: $opacity
		color: $color_hover
		font-weight: $fw
		letter-spacing: $lts





	&:focus::-webkit-input-placeholder
		opacity: $opacity
		color: $color_focus
		font-weight: $fw
		letter-spacing: $lts

	&:focus::-moz-placeholder
		opacity: $opacity
		color: $color_focus
		font-weight: $fw
		letter-spacing: $lts

	&:focus:-moz-placeholder
		opacity: $opacity
		color: $color_focus
		font-weight: $fw
		letter-spacing: $lts

	&:focus:-ms-input-placeholder
		opacity: $opacity
		color: $color_focus
		font-weight: $fw
		letter-spacing: $lts