.b-box
	display: table // to set magrin collapse inside

	width: 100%

	margin: 0 auto
	border-radius: $brd_rd-b-box

	background-color: $white

	box-shadow: 0 8px 20px rgba($b_sh_c, 0.2)

	&_sign
		max-width: $w-b-sign

		@media only screen and (max-width: $w-b-sign)
			border-radius: 0
			box-shadow: none

	&_md
		width: calc( 100% - #{$m-col_tb * 2} )
		max-width: 920px
		margin: 40px auto

		+md-tablet
			margin: 20px auto

		+md-mobile
			width: 100%
			margin: 0
			border-radius: 0
			box-shadow: none

	&_sm
		width: calc( 100% - #{$m-col_tb * 2} )
		max-width: 730px
		margin: 40px auto

		+md-tablet
			margin: 20px auto

		+md-mobile
			width: 100%
			margin: 0
			border-radius: 0
			box-shadow: none

	&_md_slider
		margin: 40px

		+md-tablet
			margin: 20px

		+md-mobile
			margin: 0

	&__item_first
		overflow: hidden
		border-radius: $brd_rd-b-box $brd_rd-b-box 0 0

	&_sign &__item_first

		@media only screen and (max-width: $w-b-sign)
			border-radius: 0

	&__item_last
		overflow: hidden
		border-radius: 0 0 $brd_rd-b-box $brd_rd-b-box

		+md-mobile
			border-radius: 0

	&_sign &__item_last

		@media only screen and (max-width: $w-b-sign)
			border-radius: 0

	&__body
		padding: 40px $m-col

		+md-tablet
			padding: 40px $m-col_tb

		&_without_inside_space
			padding: 0

		&_p_b_default_mb

			+md-mobile
				padding-bottom: 40px

		&_p_b_lg_mb

			+md-mobile
				padding-bottom: 60px

		&_without_inside_space_mb

			+md-mobile
				padding: 0