.b-budget-form

	+md-mobile
		padding: 20px

	&__block

		+md-mobile
			margin-bottom: 60px

		&_last

			+md-mobile
				margin-bottom: 0

	&__item

		+md-mobile
			margin-bottom: 40px
			padding-left: 30px

		&_last

			+md-mobile
				margin-bottom: 0

		&_currency

			+md-mobile
				padding-left: 0