.b-close
	position: absolute
	top: 0
	right: 0
	z-index: 9

	display: block

	padding: 40px 45px

	cursor: pointer

	+md-mobile
		padding: 30px

	&__text
		display: block

		margin: -4px 0 -6px

		color: $white
		font-size: $font-size-medium
		font-weight: 600