.b-confirmed-icon
	$d-b-confirmed-icon__icon:		18px
	$m_r-b-confirmed-icon__icon:	20px

	+cell( $valign: baseline, $table-layout: false, $w: auto )

	&__item
		padding-right: $m_r-b-confirmed-icon__icon

		&_last
			padding-right: 0

	&__icon-wrapper
		$h-this:		4px

		position: relative

		width: $d-b-confirmed-icon__icon
		height: $h-this

	&__icon
		position: absolute
		bottom: -5px
		right: 0

		width: $d-b-confirmed-icon__icon
		height: $d-b-confirmed-icon__icon

		overflow: hidden

		border-radius: 50%

		background-color: $brand-info

		@extend .i-tick

		&:before,
		&:after
			position: absolute

		&:before
			content: ''

			top: $brd_w
			left: $brd_w

			width: $d-b-confirmed-icon__icon - $brd_w * 2
			height: $d-b-confirmed-icon__icon - $brd_w * 2

			border: $brd_w solid $white
			border-radius: 50%

		&:after
			$h:	6px

			top: 50%
			left: 0

			width: 100%

			margin-top: -$h/2

			color: $white
			font-size: $h

			text-align: center