.b-divisions
	border-top: $brd_w solid $brd_c
	
	&__item
		height: calc( 100vh - #{$h-b-footer + $h-b-header - $brd_w} )
		min-height: $h-min - $h-b-footer - $h-b-header + $brd_w

		background-color: $white

		text-align: center

		+md-tablet
			height: auto
			min-height: 0
			padding: 100px 0

		&:nth-child(3n-1)
			background-color: $bg_light

			+md-tablet
				background-color: $white

		&:nth-child(even)

			+md-tablet
				background-color: $bg_light

	&__content
		max-width: 470px
		margin: 0 auto
		padding: $p_horiz-col