.b-footer-btn
	$m_l:		80px
	$m_l_mb:	$m-col_tb
	$m_t:		30px

	width: calc( 100% + #{$m_l} )
	margin: ( -$m_t ) 0 0 ( -$m_l )

	+justify

	+md-mobile
		width: calc( 100% + #{$m_l_mb} )
		margin-left: -$m_l_mb
		text-align: center

	&_center
		text-align: center

		+inline( $item: '.b-footer-btn__item', $ind-item: true )

	&__item
		margin: $m_t 0 0 $m_l

		+md-mobile
			min-width: calc( 50% - #{$m_l_mb} )
			margin-left: $m_l_mb

		+md-mobile_min
			width: calc( 100% - #{$m_l_mb} )

		&_full_w
			width: 100%

			+md-mobile
				width: calc( 100% - #{$m_l_mb} )

			+md-mobile_min
				width: calc( 100% - #{$m_l_mb} )

	&__btn
		width: 100%

		&_fixed_w
			min-width: 180px