.b-footer
	$m_horiz-nav:			27px
	$m_horiz-nav_desk_min:	12px

	position: relative
	z-index: $z_i-b-footer

	border-top: $brd_w solid $brd_c

	background-color: $white

	font-size: $font-size-small

	+md-desk_mdl_only
		font-size: $font-size-xs

	+md-desk_min_only
		font-size: $font-size-xxs

	+md-tablet
		border-top: none
		text-align: center

	&_brd_none_tb &__nav-item_first &__link

		+md-tablet
			border-top: none

		@media only screen and (max-width: 500px)
			border-top: none

	&_brd_none_sign &__nav-item:nth-child(1) &__link

		@media only screen and (max-width: $w-b-sign)
			border-top: none

	.-ol-row

		+md-tablet
			margin: 0 (-$m-col_tb)

	&__inner
		height: $h-b-footer - $brd_w

		+md-desk_mdl_and_min_only
			height: $h-b-footer_desk_min - $brd_w

		+md-tablet
			height: auto
			padding: 0

		&.l-valign-center
			table-layout: auto

	&__item

		+md-tablet
			display: block

		&_last
			text-align: right

			+md-tablet
				text-align: center

	&__nav
		top: 0
		margin: 0 (-$m_horiz-nav)

		+center_tsf( $y: 0, $not: 'y' )

		+inline( $item: '-item', $font-size: $font-size-small, $valign: middle ) // $valign: middle for ie (don't know why it works)

		+md-desk_mdl_and_min_only
			margin: 0 (-$m_horiz-nav_desk_min)

		+md-tablet
			margin: 0 !important

			+center-tsf_set

			@media only screen and (max-width: 500px)
				display: block

	&__nav-item
		margin: 0 $m_horiz-nav

		+md-desk_mdl_and_min_only
			margin: 0 $m_horiz-nav_desk_min

		+md-desk_mdl_only
			font-size: $font-size-xs

		+md-desk_min_only
			font-size: $font-size-xxs

		+md-tablet
			width: 50%
			margin: 0
			text-align: center

		@media only screen and (max-width: 500px)
			width: 100%

		&:nth-child(4n),
		&:nth-child(4n-1)

			+md-tablet
				background-color: $bg_light

			@media only screen and (max-width: 500px)
				background-color: $white

		&:nth-child(even)

			+md-tablet
				position: relative

				&:before
					$p_vert: 15px

					content: ''

					position: absolute
					top: $p_vert
					left: 0

					width: $brd_w
					height: calc( 100% - #{$p_vert * 2} )

					background-color: $brd_c

			@media only screen and (max-width: 500px)
				background-color: $bg_light

				&:before
					display: none

	&__link // tag a
		display: block

		height: $h-b-footer - $brd_w

		transition: color .2s

		+md-desk_mdl_and_min_only
			height: $h-b-footer_desk_min - $brd_w

		+md-tablet
			line-height: 1.5

			margin: 0
			border-top: $brd_w solid $brd_c
			padding: 17px $m-col_tb 16px

		&:hover
			color: $brand-primary

			+md-tablet
				color: $brand-primary

	&__text
		display: block
		margin: -3px 0 -5px

		+md-desk_mdl_only
			margin: -2px 0 -5px

		+md-desk_min_only
			margin: -2px 0 -4px

	&__copyright

		+md-tablet
			border-top: $brd_w solid $brd_c
			padding: 27px $m-col_tb 26px

			line-height: 1.5