.b-hero
	$p-b-hero: 40px

	height: calc( 100vh - #{$h-b-header} )
	min-height: $h-min - ($p-b-hero + $h-b-header)

	padding: $p-b-hero

	+md-tablet
		min-height: 0

	&_with_scroll
		padding-bottom: $p-b-hero + $h-b-header

	&__content
		background: $black url('#{$img}/b-hero/bg.jpg') center / cover
		text-align: center

		+e-headings
			color: $white

		+e-h1
			margin-bottom: -$m_b-h1

			+md-tablet
				margin: -6px 0 -8px
				font-size: 2.2rem

	.b-scroll

		+md-tablet
			padding-bottom: 83px