.b-header
	$d-user-photo:			40px
	$m_r-user-info-item:	20px
	$m_w-user-info:			300px

	position: fixed
	top: 0
	left: 0
	z-index: $z_i-b-header

	width: 100%

	border-bottom: $brd_w solid $brd_c

	background-color: $bg_c_b-header

	+md-desk_min_only
		font-size: $font-size-small

	+md-mobile
		z-index: $z_i-b-header_mb

	&__frame
		height: $h-b-header - $brd_w

		+md-desk_min_only
			height: $h-b-header_desk_min - $brd_w

	&__inner

		+justify( $item: '-item', $valign: middle )

	&__item

	&__logo // tag a
		display: block

	&__logo-img
		height: 40px

		+md-desk_min
			height: 36px

	&__nav
		top: 0

		+center_tsf( $y: 0, $not: 'y' )

		+inline( $item: '-item' )

		+md-tablet
			display: none

	&__nav-item
		margin: 0 30px

		+md-desk_min_only
			margin: 0 20px

	&__nav-link // tag a
		display: block

		height: $h-b-header

		padding: 0 5px

		color: $gray-darker
		font-size: $font-size-small
		font-weight: 600

		white-space: nowrap

		transition: color .2s

		+md-desk_min_only
			height: $h-b-header_desk_min

		&:hover
			color: $brand-info

		&_active
			color: $brand-info

	&__nav-text
		display: block
		margin: -3px 0 -5px

	&__user
		position: relative

	&__user-info
		position: relative
		z-index: 2 // z-index: 1 $__drop-down

		display: block

		margin-right: -$m-col
		border-left: $brd_w solid $brd_c
		padding: 14px $m-col

		background-color: $bg_c_b-header

		text-align: right

		transition: .2s

		+cell( $item: '-item', $w: auto, $h: $h-b-header - $brd_w, $valign: middle )

		+md-desk_min_only
			height: $h-b-header_desk_min - $brd_w
			padding: 12px $m-col

		+md-tablet
			height: $h-b-header - $brd_w
			margin-right: -$m-col_tb
			padding: 14px $m-col_tb

	&__user-info-item
		padding-right: $m_r-user-info-item

		&_last
			padding-right: 0

		&_name

			+md-desk_min
				display: none

	&__user-name
		max-width: $m_w-user-info - ($m-col * 2 + $d-user-photo + $m_r-user-info-item)

		margin: -5px 0 -6px

		color: $gray-darker
		font-size: $font-size-small
		font-weight: $headings-font-weight
		line-height: 1.5

		+text-ellipsis

	&__user-photo
		border-radius: 50%

		+img-wrap($d-user-photo, $d-user-photo)

	&__drop-down
		$b_sh_w-this: 15px

		position: absolute
		top: 100%
		right: -$m-col

		display: none

		width: calc( 100% + #{$m-col - $brd_w} )
		min-width: 180px
		max-width: $m_w-user-info

		border-top: $brd_w solid $brd_c

		background-color: $bg_c_b-header
		box-shadow: 0 0 $b_sh_w-this rgba($b_sh_c, 0.15)

		&:before
			content: ''

			position: absolute
			top: -($b_sh_w-this + $brd_w)
			left: -$b_sh_w-this

			width: calc( 100% + #{$b_sh_w-this} )
			height: $b_sh_w-this

			background-color: $bg_c_b-header

	&__user:hover &__drop-down
		display: block

	&__drop-down-list
		padding: 15px 0

	&__drop-down-item
		margin-bottom: 5px

		&_last
			margin-bottom: 0

	&__drop-down-link
		position: relative
		z-index: 1 // z-index: 2 $__user-info

		display: block

		margin: -5px 0 -6px
		padding: 15px $m-col

		color: $gray-darker
		font-size: $font-size-small
		font-weight: $headings-font-weight
		line-height: 1.5

		+text-ellipsis

		&:before
			$w:	2px
			$h:	30px

			content: ''

			position: absolute
			top: 50%
			left: ($m-col - $w)/2

			opacity: 0

			width: $w
			height: $h

			margin-top: -$h/2

			background-color: $brand-info

			transition: .2s

		&:hover

			&:before
				opacity: 1