.b-heading
	width: 100%
	min-height: $h-b-heading

	border-bottom: $brd_w solid $brd_c
	padding: 31px 0

	background-color: $bg_lighter

	+md-desk_min_only
		min-height: $h-b-heading_desk_min
		padding: 29px 0

	+md-mobile
		padding: 31px 0
		background-color: $white

	&_brd_b_none
		min-height: $h-b-heading - $brd_w
		border-bottom: none

		+md-desk_min_only
			min-height: $h-b-heading_desk_min - $brd_w

	&_brd_b_none_tb

		+md-tablet
			min-height: $h-b-heading - $brd_w
			border-bottom: none

	&_brd_b_none_mb

		+md-mobile
			min-height: $h-b-heading - $brd_w
			border-bottom: none



	&_sm
		min-height: $h-b-heading_sm
		padding: 27px 0

		+md-desk_min_only
			min-height: $h-b-heading_sm_desk_min
			padding: 25px 0

	&_sm_brd_b_none
		min-height: $h-b-heading_sm - $brd_w
		border-bottom: none

		+md-desk_min_only
			min-height: $h-b-heading_sm_desk_min - $brd_w

	&_sm_brd_b_none_tb

		+md-tablet
			min-height: $h-b-heading_sm - $brd_w
			border-bottom: none

	&_sm_brd_b_none_mb

		+md-mobile
			min-height: $h-b-heading_sm - $brd_w
			border-bottom: none



	&_lg
		min-height: $h-b-heading_lg
		padding: 34px 0

		+md-desk_min_only
			min-height: $h-b-heading_lg_desk_min
			padding: 32px 0

	&_lg_brd_b_none
		min-height: $h-b-heading_lg - $brd_w
		border-bottom: none

		+md-desk_min_only
			min-height: $h-b-heading_lg_desk_min - $brd_w

	&_lg_brd_b_none_tb

		+md-tablet
			min-height: $h-b-heading_lg - $brd_w
			border-bottom: none

	&_lg_brd_b_none_mb

		+md-mobile
			min-height: $h-b-heading_lg - $brd_w
			border-bottom: none



	&_white
		background-color: $white

	&_lightest
		background-color: $gray-lightest

	&_main
		position: absolute
		top: $h-b-header
		left: 0
		z-index: $z_i-b-heading

		+md-desk_min_only
			top: $h-b-header_desk_min

	&_modal_close
		position: absolute
		top: $h-b-header
		left: 0

	&__text
		width: 100%

		margin: -8px 0 -10px

		color: $c-h
		font-size: $font-size-large
		line-height: 1.667
		font-weight: $headings-font-weight

		+md-tablet
			text-align: center

		&_sm
			margin: -7px 0 -8px
			font-size: $font-size-medium

		&_size_default_mb

			+md-mobile
				margin: -8px 0 -10px
				font-size: $font-size-large

		&_primary
			color: $brand-primary

		&_success
			color: $brand-success

		&_info
			color: $brand-info

		&_warning
			color: $brand-warning

		&_danger
			color: $brand-danger

		&_color_default_mb

			+md-mobile
				color: $c-h