.b-nav-mb
	position: fixed
	bottom: 0
	left: 0
	z-index: $z_i-b-nav-mb

	display: none

	width: 100%
	height: $h-b-nav-mb

	border-top: $brd_w solid $brd_c

	background-color: $white

	text-align: center

	+inline

	+md-tablet
		display: block

	&__item
		position: relative // for icons
		height: 100%
		width: 33.3334%

	&__text-wrapper
		padding-top: 30px

		&:after
			color: $gray-light
			transition: .2s color

			+center-tsf( $y: 0, $not: 'y' )

		&_budget

			@extend .i-budget

			&:after
				top: 16px
				font-size: 18px

		&_survey

			@extend .i-survey

			&:after
				top: 15px
				font-size: 20px

		&_sessions

			@extend .i-sessions

			&:after
				top: 18px
				font-size: 16px

	&__item_active &__text-wrapper,
	&__item:hover &__text-wrapper

		&:after
			color: $brand-primary

	&__text
		margin: -2px 0 -5px

		font-size: $font-size-xs
		color: darken($gray-light, 5%)
		font-weight: 500

		transition: .2s color


	&__item_active &__text,
	&__item:hover &__text
		color: $brand-primary