.b-profile-options
	$p_horiz-main:	35px

	background-color: $white
	box-shadow: 0 8px 20px rgba($b_sh_c, .2)

	&__inner
		height: 100%
		overflow: auto

	&__item
		border-bottom: $brd_w solid $brd_c

		&_last
			border-bottom: 0

		&_brd_none
			border-bottom: 0

	&__header
		padding: 40px $p_horiz-main
		text-align: center

	&__header-text
		margin: -6px 0 -7px

		color: $c-h
		font-size: $font-size-medium
		font-weight: $headings-font-weight
		line-height: 1.5

	&__subheading
		padding: 24px $p_horiz-main 23px

		background-color: $gray-lightest_2

		text-align: center

	&__subheading-text
		margin: -6px 0 -7px

		color: $c-h
		font-size: $font-size-medium
		font-weight: $headings-font-weight
		line-height: 1.5

	&__option-item
		padding: 35px $p_horiz-main

		&_without_inside_horiz_space
			padding-left: 0
			padding-right: 0