.b-player
	$h-progress-control-bar:	4px
	$h-btn:						14px
	$vert-b-player_mb:			25px
	$horiz-b-player_mb:			20px

	position: absolute
	bottom: 0
	left: 0
	z-index: 3

	width: 100%

	padding: 20px 25px

	+cell( $valign: middle, $table-layout: false, $h: auto )

	+md-mobile
		bottom: $vert-b-player_mb
		left: $horiz-b-player_mb

		padding: 0

		+cell_set( $w: calc( 100% - #{$horiz-b-player_mb*2} ), $h: calc( 100% - #{$vert-b-player_mb*2} ) )

	&__item

		&_next_to_btn
			padding-left: 15px

	&__item-inner
		position: relative

		+md-mobile
			position: static

	&__img
		position: absolute
		top: 0
		left: 0
		z-index: 1

		width: 100%
		height: 100%

		background-position: center
		background-size: cover

		&:before
			content: ''

			position: absolute
			top: 0
			left: 0
			z-index: 2

			width: 100%
			height: 100%

			background-color: rgba($black, 0.1)

		&:after
			content: ''

			position: absolute
			bottom: 0
			left: 0
			z-index: 2

			width: 100%
			height: 120px

			background-image: linear-gradient( to top, rgba($black, 0.3) 0%, rgba($black, 0) 100% )

			+md-mobile
				height: 70px

	&__btn
		display: none
		padding: 20px

		+md-mobile

			+center-tsf

			display: none // to set +center-tsf

		&_active
			display: block

	&__play-btn
		line-height: 0

		@extend .i-play

		&:after
			color: $white
			font-size: $h-btn

	&__pause-btn
		line-height: 0

		@extend .i-pause

		&:after
			color: $white
			font-size: $h-btn

	&__name
		position: absolute
		bottom: calc( 100% + 30px )
		left: 0

		width: 100%

		padding: 0 20px

		text-align: center

		+md-mobile
			top: calc( 50% + #{30px + $h-btn/2} )
			bottom: auto

	&__name-text
		margin: -5px 0 -7px

		color: $white
		font-size: $font-size-large
		font-weight: 600

		+text-ellipsis

	&__progress-control
		position: relative

		+md-mobile
			position: absolute
			left: 0
			bottom: 0

			width: 100%

	&__progress-control-bar
		overflow: hidden

		width: 100%
		height: $h-progress-control-bar

		border-radius: round($h-progress-control-bar/2)

		background-color: $gray-lightest

		cursor: pointer

	&__load-progress
		position: absolute
		top: 0
		left: 0

		width: 60%
		height: 100%

		border-radius: round($h-progress-control-bar/2)

		background-color: $gray-lighter

	&__play-progress
		position: absolute
		top: 0
		left: 0

		width: 40%
		height: 100%

		border-radius: round($h-progress-control-bar/2)

		background-color: $brand-primary

	&__progress-holder
		$d: 30px

		position: absolute
		top: 50%
		left: 40%
		z-index: 1

		width: $d
		height: $d

		margin: -$d/2 0 0 -$d/2
		border-radius: 50%

		background-color: $white
		box-shadow: 0px 2px 6px 0 rgba($black, 0.35)

		cursor: pointer

		+md-mobile
			display: none

	&__current-time,
	&__duration
		padding: 0 20px

		+md-mobile
			position: absolute
			bottom: 15px + $h-progress-control-bar
			padding: 0

	&__current-time

		+md-mobile
			left: 0

	&__duration

		+md-mobile
			right: 0

	&__current-time-text,
	&__duration-text
		margin: -3px 0 -8px

		color: $white
		font-size: $font-size-medium
		font-weight: 600

		+number