.b-preloader
	position: fixed
	top: 0
	right: 0
	z-index: 9999

	overflow: hidden

	width: 100vw
	height: 100vh

	transition: all 1s step-end, width .5s ease .5s

	&_done
		width: 0
		top: -100vh
		right: -100vw

		+md-tablet
			width: 100vw
			height: 0

			transition: all 1s step-end, height .5s ease .5s

	&__inner
		position: absolute
		top: 0
		right: 0
		z-index: 1

		width: 100vw
		height: 100vh

		background-color: $gray-lighter_2

	&_done &__inner
		top: -100vh
		right: -100vw

		transition: all 1s step-end

	&__progress
		position: absolute
		bottom: 0
		left: 0
		z-index: 2

		width: 0
		height: 100%

		background-color: $white

		transition: width .5s

		&_h
			width: 100%
			height: 0
			transition: height .5s

	&__counter
		z-index: 3

		+center-tsf

	&__counter-text
		margin: -2px 0 -42px

		color: $gray-darker
		font-size: 14rem
		line-height: 1
		font-weight: 800
		letter-spacing: 0

		+number

		+md-tablet
			margin: -2px 0 -31px
			font-size: 10rem

	&__icon
		position: absolute
		bottom: 30px
		right: 30px
		z-index: 4

		width: 5px
		height: 5px

		border-radius: 50%

		background-color: $gray-darker

		animation: blinkPreloaderIcon .5s infinite alternate

		&:before,
		&:after
			content: ''

			position: absolute
			top: 0
			right: 0

			width: 5px
			height: 5px

			border-radius: 50%

			background-color: $gray-darker

			animation: blinkPreloaderIcon .5s infinite alternate

		&:before
			top: -25px
			animation-delay: .25s

		&:after
			top: -50px
			animation-delay: .5s

	@keyframes blinkPreloaderIcon

		from
			background-color: $gray-darker

		to
			background-color: rgba($gray-darker, 0)