.b-profile-info
	$p_horiz-main:							35px
	$p_horiz-progress-increase-inner-item:	20px
	$d-photo:								84px

	background-color: $white
	box-shadow: 0 8px 20px rgba($b_sh_c, .2)

	&__inner
		height: 100%
		overflow: auto

	&__item
		border-bottom: $brd_w solid $brd_c

		&_last
			border-bottom: 0

		&_brd_none
			border-bottom: 0

	&__heading-info
		height: 200px
		padding: 30px $p_horiz-main
		text-align: center

	&__edit
		position: absolute
		top: 20px
		right: 30px

		@extend .i-edit

	&__overview
		position: relative

		width: 100px
		height: 100px

		margin: 0 auto 23px

		&_last
			margin-bottom: 0

	&__progress
		$d: 37px

		position: absolute
		top: 5px
		right: -7px

		border-radius: 50%

		background-color: $white
		box-shadow: -1.4px 1.4px 7px rgba($b_sh_c, .3)

		text-align: center

		+cell( $item: '-item', $valign: middle, $w: $d, $h: $d )

	&__progress-item
		padding: 10px 2px

	&__progress-number
		margin: -4px 0 -8px

		color: $gray-darker
		font-size: $font-size-small
		line-height: 1.5
		font-weight: 600

		+number

	&__progress-persent
		margin: -3px 0 -5px

		color: $gray-light
		font-size: $font-size-xxs
		line-height: 1.5
		font-weight: $font-weight-base

	&__photo
		position: absolute
		top: 8px
		left: 8px

		border-radius: 50%

		background-color: $gray-lightest

		cursor: pointer

		+img-wrap( $d-photo, $d-photo )

		@extend .i-upload

		&:before,
		&:after
			opacity: 0
			transition: opacity .2s

		&:before
			content: ''

			position: absolute
			top: 0
			left: 0

			opacity: 0

			width: 100%
			height: 100%

			border-radius: 50%

			background-color: rgba($brand-info, .5)

		&:after
			$h: 24px

			position: absolute
			top: calc( 50% + #{2px} )
			left: 0

			width: 100%

			margin-top: -$h/2

			color: $white
			font-size: $h

			text-align: center

		&:hover

			&:before,
			&:after
				opacity: 1

	&__name
		margin: -6px 0 23px

		color: $c-h
		font-size: $font-size-medium
		font-weight: $headings-font-weight
		line-height: 1.5
		letter-spacing: .05em

		&_last
			margin-bottom: -7px

	&__progress-increase
		padding: 25px $p_horiz-main
		background-color: $bg_lighter

	&__progress-increase-inner

		+cell( $item: '-item', $valign: middle, $table-layout: false )

	&__progress-increase-inner-item
		position: relative
		padding-left: $p_horiz-progress-increase-inner-item + $brd_w
		padding-right: $p_horiz-progress-increase-inner-item

		&_last
			padding-right: 0

		&_first
			padding-left: 0

		&:before
			content: ''

			width: $brd_w
			height: 23px

			background-color: $brd_c

			+center-tsf( $x: 0, $not: 'x' )

		&_first:before
			display: none

	&__progress-increase-number
		margin: -9px 0 -15px

		color: $c-h
		font-size: $font-size-large
		font-weight: 600
		line-height: 2

		+number

	&__progress-increase-persent
		margin: -2px 0 -5px

		color: $gray-light
		font-size: $font-size-xs
		font-weight: 400

	&__progress-increase-clue
		margin: -6px 0 -9px

		color: $gray
		font-size: $font-size-xs
		line-height: 2

	&__info
		padding: 0 $p_horiz-main

	&__info-item
		padding: 40px 0
		text-align: center

	&__info-item
		border-bottom: $brd_w solid $brd_c

		&_last
			border-bottom: 0

	&__info-heading
		margin: -6px 0 23px

		color: $c-h
		font-size: $font-size-medium
		font-weight: $headings-font-weight
		line-height: 1.5

		&_last
			margin-bottom: -7px

	&__info-text
		display: block

		margin: -9px 0 -11px

		color: $gray-light
		font-size: $font-size-small
		line-height: 2.15

	&__info-text-number
		display: block

		margin: -10px 0 -14px

		color: $gray-light
		font-size: $font-size-medium
		line-height: 2.15

		+number

	&__btn-wrapper
		padding: 30px $p_horiz-main