.b-progress
	$h-bar: 36px
	$h-bar-edge: 24px

	margin-bottom: 60px

	&_last
		margin-bottom: 0

	&__bar
		position: relative

		overflow: hidden

		width: 100%
		height: $h-bar

		margin-bottom: 25px
		border-radius: $h-bar/2

		background-color: #ebf1f5
		box-shadow: 0 4px 10px rgba($b_sh_c, 0.2)

		&_last
			margin-bottom: 0

	&__bar-mark
		position: absolute
		top: ($h-bar - $h-bar-edge)/2
		left: 50%
		z-index: 1

		width: $brd_w
		height: $h-bar-edge

		background-color: $brd_c

		&_achievable
			background-color: rgba($white, .4)

	&__bar-active-area-wrapper
		position: relative

		overflow: hidden

		width: 100%
		height: 100%

		border-radius: $h-bar/2

	&__bar-active-area
		position: absolute
		top: 0
		left: 0

		height: 100%

		background-image: linear-gradient(to left, $brand-danger 0%, $brand-danger-middle 25%, $brand-middle 50%, $brand-primary-middle 75%, $brand-primary 100%)

	&__text-line

		+justify( $item: '-item' )

	&__text
		margin: -5px 0 -6px

		color: $gray-light
		font-size: $font-size-small
		line-height: 1.5
		letter-spacing: .06em
		font-weight: 400

		&_from
			padding-left: 30px

			+md-tablet
				padding-left: $m-col_tb

		&_to
			padding-right: 30px

			+md-tablet
				padding-right: $m-col_tb