.b-player-animation

	&_disabled &__item
		cursor: none



	&__item_to_bottom
		transform: translateY(0)
		transition: transform .4s

	&_disabled &__item_to_bottom
		transform: translateY(100%)



	&_disabled &__item_to_bottom_none_mb

		+md-mobile
			transform: translateY(0)
			transition: all 0s ease 0s



	&__item_to_bottom_fixed_mb

		+md-mobile
			transform: translateY(0)
			transition: transform .4s

	&_disabled &__item_to_bottom_fixed_mb

		+md-mobile
			transform: translateY(100px)



	&__item_to_top
		transform: translateY(0)
		transition: transform .4s

	&_disabled &__item_to_top
		transform: translateY(-100px)



	&__item_opacity_mb

		+md-mobile
			opacity: 1
			transition: opacity .4s

	&_disabled &__item_opacity_mb

		+md-mobile
			opacity: 0



	&__item_before

		&:before
			opacity: 1
			transition: opacity .4s

	&_disabled &__item_before

		&:before
			opacity: 0



	&__item_after

		&:after
			opacity: 1
			transition: opacity .4s

	&_disabled &__item_after

		&:after
			opacity: 0