.b-socials
	$m_l: 15px

	margin-left: -$m_l

	+inline()

	&__item
		margin-left: $m_l

	&__link // tag a
		position: relative

		display: block

		width: 30px
		height: 30px

		border: $brd_w solid $brd_c
		border-radius: 50%

		&:after
			opacity: 1
			transition: .2s

			+center-tsf

		&:hover:after
			opacity: .7

		&_fc

			@extend .i-facebook

			&:after
				color: $bg_fc
				font-size: 12px

		&_in

			@extend .i-linkedin

			&:after
				color: $bg_in
				font-size: 12px

		&_tw

			@extend .i-twitter

			&:after
				color: $bg_tw
				font-size: 10px