.b-scroll
	bottom: 0
	padding-bottom: 60px

	+center-tsf( $y: 0, $not: 'y' )

	@extend .i-arrow_right_2

	&:after
		top: 28px
		color: $gray-darker
		font-size: 7px

		+center-tsf( $y: 0, $not: 'y' )

	&__text
		display: block

		margin: -7px 0 -8px

		color: $gray-darker
		font-size: $font-size-large
		font-weight: 600
		line-height: 1.5