.b-steps-nav
	$d-arrow: 60px

	&_style_2
		position: relative

		height: $h-b-steps-nav

		padding: 24px $m-col_tb

		background-color: $gray-lightest

		+justify()

	+md-mobile
		position: relative

		height: $h-b-steps-nav

		padding: 24px $m-col_tb

		background-color: $gray-lightest

		+justify()

	&_bg_white
		background: $white

	&_bottom
		position: absolute
		left: 0
		bottom: $h-b-nav-mb
		width: 100%

	&__bind
		position: relative

		&_h_full
			height: 100vh

		+md-mobile
			position: static

	&_style_2 &__bind
		position: static

	&__bind_budget_tool
		padding: 30px 0

		+md-mobile
			padding: 0

	&_style_2 &__bind_budget_tool
		padding: 0

	&__bind_wellness_survey
		padding: 30px 0

		+md-mobile
			padding: 0

	&_style_2 &__bind_wellness_survey
		padding: 0

	&__arrow
		position: absolute
		top: 50%
		z-index: $z_i-b-steps-nav

		width: $d-arrow
		height: $d-arrow

		margin-top: -$d-arrow/2
		border-radius: 50%

		background-color: $white
		box-shadow: 0 8px 20px rgba($b_sh_c, .2)

		font-size: 0

		transition: .2s

		+md-mobile
			position: relative
			top: auto

			display: inline-block !important // to set js style (slick.js)

			width: auto
			height: auto

			margin: -7px 0 -8px
			border-radius: 0

			background-color: transparent
			box-shadow: none

			color: $gray-darker
			font-size: $font-size-large
			line-height: 1.5
			font-weight: 300

		&:hover
			box-shadow: 0 8px 20px rgba($b_sh_c, .3)

			&_style_2
				box-shadow: none

			+md-mobile
				box-shadow: none

		&:active
			box-shadow: 0 8px 20px rgba($b_sh_c, .15)

			&_style_2
				box-shadow: none

			+md-mobile
				box-shadow: none

	&_style_2 &__arrow
		position: relative
		top: auto

		display: inline-block !important // to set js style (slick.js)

		width: auto
		height: auto

		margin: -7px 0 -8px
		border-radius: 0

		background-color: transparent
		box-shadow: none

		color: $gray-darker
		font-size: $font-size-large
		line-height: 1.5
		font-weight: 300

	&__arrow:after
		position: absolute
		top: 0

		font-size: 14px
		color: $brand-primary
		line-height: $d-arrow

		transition: .2s

		+md-mobile
			color: $brd_c
			font-size: 13px
			line-height: 27px

	&_style_2 &__arrow:after
		color: $brd_c
		font-size: 13px
		line-height: 27px

	&__arrow_prev
		left: $m-col

		@extend .i-arrow_left_2

		+md-mobile
			left: auto
			padding-left: 26px

	&_style_2 &__arrow_prev
		left: auto
		padding-left: 26px

	&__arrow_prev:after
		left: 50%
		margin-left: -7px

		+md-mobile
			content: '\e911'
			left: 0
			margin-left: 0

	&_style_2 &__arrow_prev:after
		content: '\e911'
		left: 0
		margin-left: 0

	&__arrow_prev:hover:after
		animation: none

		+md-mobile
			transform: translateX(0)
			animation: arrowShakingLeft .8s 1 linear

	&_style_2 &__arrow_prev:hover:after
		transform: translateX(0)
		animation: arrowShakingLeft .8s 1 linear

	&__arrow_next
		right: $m-col

		@extend .i-arrow_right_2

		+md-mobile
			right: auto
			padding-right: 26px

	&_style_2 &__arrow_next
		right: auto
		padding-right: 26px

	&__arrow_next:after
		right: 50%
		margin-right: -7px

		+md-mobile
			content: '\e912'
			right: 0
			margin-right: 0

	&_style_2 &__arrow_next:after
		content: '\e912'
		right: 0
		margin-right: 0

	&__arrow_next:hover:after
		animation: none

		+md-mobile
			transform: translateX(0)
			animation: arrowShakingRight .8s 1 linear

	&_style_2 &__arrow_next:hover:after
		transform: translateX(0)
		animation: arrowShakingRight .8s 1 linear

	&__arrow_disabled,
	&__arrow.slick-disabled
		cursor: default

		+md-mobile
			color: $gray-light

	&_style_2 &__arrow_disabled,
	&_style_2 &__arrow.slick-disabled
		color: $gray-light

	&__arrow_disabled:after,
	&__arrow.slick-disabled:after
		color: $brd_c

	&__arrow_disabled:hover:after,
	&__arrow.slick-disabled:hover:after

		+md-mobile
			animation: none

	&__arrow_disabled:hover:after,
	&__arrow.slick-disabled:hover:after
		animation: none

	&__bind_budget_tool &__arrow
		top: calc( 25% - 138px )

		+md-mobile
			top: auto

	&_style_2 &__bind_budget_tool &__arrow
		top: auto

	&__bind_wellness_survey &__arrow
		top: calc( 25% - 100px )

		+md-mobile
			top: auto

	&_style_2 &__bind_wellness_survey &__arrow
		top: auto

	@keyframes arrowShakingLeft

		0%, 50%, 100%
			transform: translateX(0)

		25%
			transform: translateX(-4px)

		75%
			transform: translateX(-2px)

	@keyframes arrowShakingRight

		0%, 50%, 100%
			transform: translateX(0)

		25%
			transform: translateX(-4px)

		75%
			transform: translateX(-2px)