.b-sign
	$p_horiz-box:		$m-col
	$p_horiz-box_mb:	$m-col_tb

	.-ol-btn
		width: 100%

	&__heading
		margin: 50px 0 40px
		padding: 0 $p_horiz-box

		+md-mobile
			padding: 0 $p_horiz-box_mb

	&__heading-text
		position: relative

		margin: -9px 0 -14px

		color: $brand-primary
		font-weight: 300

		@extend .-ol-h2

		&:before
			$w: 4px

			content: ''

			position: absolute
			top: -1px
			left: -$p_horiz-box

			width: $w
			height: 45px

			border-radius: 0 $w $w 0

			background-color: $brand-primary

			+md-mobile
				left: -$p_horiz-box_mb

	&__heading-change-section
		margin: 11px 0 -6px 95px // mt 15 - 3 = 12
		color: $gray-light

		.-ol-link
			border-bottom-color: $brd_c
			color: $gray !important

			&:hover
				border-bottom-color: transparent

	&__forms-step
		display: none

		&_active
			display: block

	&__forms
		margin: 35px 0
		padding: 0 $p_horiz-box

		+md-mobile
			padding: 0 $p_horiz-box_mb

	&__or-line
		margin: 35px 0
		padding: 0 $p_horiz-box

		color: $gray-light
		font-size: $font-size-small
		line-height: 2.14286

		text-align: center

		+md-mobile
			padding: 0 $p_horiz-box_mb

	&__or-line-text
		margin: -11px 0

	&__socials
		position: relative

		overflow: hidden // to hide &:before box-shadow

		margin-top: 35px

		background-color: $brand-primary

		text-align: center

		+inline( $item: '-item' )

		@media only screen and (max-width: $w-b-sign)
			border-radius: 0

		&:before
			$h: 10px

			content: ''

			position: absolute
			top: -$h
			left: 0

			width: 100%
			height: $h

			box-shadow: 0 0 5px rgba($b_sh_c, .6)

	&__socials-item
		position: relative

		height: 70px

		margin: auto

		color: $white
		line-height: 0

		text-align: center

		cursor: pointer

		&:before
			$h: 40px

			content: ''

			position: absolute
			top: 50%
			right: -$brd_w

			width: $brd_w
			height: $h

			margin-top: round(-$h/2)

			background: rgba($white, .3)

		&:after

			+center-tsf

		&_last:before
			display: none

		&_gl

			@extend .i-google

			&:after
				font-size: 30px

		&_in

			@extend .i-linkedin

			&:after
				font-size: 26px