.b-short-info
	$h-block-1: 380px
	$t-block-2: 190px
	$h-block-2: 280px

	position: relative // for .b-scroll

	+pd_vert-block

	+md-tablet
		text-align: center

	&__inner
		min-height: $h-block-1 - $t-block-2 + $h-block-2

		+md-tablet
			min-height: 0

	&__content
		position: relative // for &__img
		z-index: 1
		padding-top: 40px

		+md-tablet
			padding-top: 0

	&__img
		position: absolute
		top: 0
		right: $m-col

		width: 380px
		height: $h-block-1

		background-color: $bg_lighter

		+md-tablet
			display: none

		&:before
			content: ''

			position: absolute
			top: $t-block-2
			right: $w_full-col

			width: 400px
			height: $h-block-2

			background-color: $bg_light

		&_upset,
		&_happy

			&:after
				content: ''

				position: absolute
				bottom: -90px

				background-position: center
				background-size: cover

		&_upset

			&:after
				right: 150px

				width: 286px
				height: 318px

				background-image: url('#{$img}/b-short-info/1.png')

		&_happy

			&:after
				right: 155px

				width: 268px
				height: 426px

				background-image: url('#{$img}/b-short-info/2.png')
