.b-stats
	$h:			200px
	$w-heading:	80px

	position: relative

	min-height: $h

	background-color: $white
	box-shadow: -8px 0 20px rgba($b_sh_c, .2)

	&__item
		border-right: $brd_w solid $brd_c

		&_last
			border-right: none

	&__item.b-stats__heading
		border-bottom: $brd_w solid $brd_c
		border-right: none

	&__item_last.b-stats__heading
		border-bottom: none

	&__heading
		display: table

		position: absolute
		top: $h
		left: 0px

		width: $h
		height: $w-heading

		text-align: center

		transform: rotate(-90deg)
		transform-origin: top left

	&__heading-inner
		display: table-cell
		vertical-align: middle

	&__heading-text
		margin: -5px 0 -6px

		color: $c-h
		font-size: $font-size-small
		font-weight: 600
		line-height: 1.5

	&__table
		display: table
		table-layout: fixed

		width: calc( 100% - #{$w-heading} )
		height: $h

		margin-left: $w-heading

		text-align: center

	&__table-body

	&__table-footer

	&__table-row
		display: table-row

	&__table-cell
		display: table-cell
		vertical-align: middle

	&__table-footer &__table-cell
		height: 66px
		border-top: $brd_w solid $brd_c
		background-color: $bg_lighter

	&__table-cell-inner // for ie
		display: table
		width: 100%
		height: 100%

	&__table-body &__table-cell &__table-cell-inner // for ie
		position: relative

		&:before
			$h-this: 15px

			content: ''

			position: absolute
			top: 50%
			right: -$brd_w

			width: $brd_w
			height: $h-this

			margin-top: -( floor($h-this/2) )

			background-color: $brd_c

	&__table-body &__table-cell_last &__table-cell-inner // for ie
		position: static

		&:before
			display: none

	&__table-cell-content // for ie
		display: table-cell
		vertical-align: middle
		padding: 10px

	&__amount
		margin: -1px 0 3px // 14 - 11 = 3

		color: $c-h
		font-size: 3.4rem
		font-weight: 400
		line-height: 1

		+number

		&_last
			margin-bottom: -11px

	&__period
		margin: -5px 0 -7px

		color: $gray-light
		font-size: $font-size-xs
		font-weight: 300
		line-height: 1.75

	&__stat-heading
		margin: -3px 0 -6px

		color: $c-h
		font-size: $font-size-xs
		font-weight: 600
		line-height: 1.75