.b-track-info

	&__inner
		display: table
		width: 100%
		height: 100%

	&__item
		display: table-cell
		width: 50%

	&__text-info
		position: relative

	&__text-info-inner
		padding: 5% 15%

		+md-desk_min_only
		+md-height_mdl
			padding: 5% 12%

	&__content
		position: relative

	&__number
		position: relative
		z-index: 2

		margin: -18px 0 72px

		color: $c-h
		font-size: 7.2rem
		line-height: 1.35
		font-weight: 600

		white-space: nowrap

		+md-desk_min_only
		+md-height_mdl
		 margin: -15px 0 59px
		 font-size: 5.8rem

		&_m_b_lg
			margin: 102px

		&_last
			margin-bottom: -28px

	&__duration
		position: absolute
		top: 0
		left: 0
		z-index: 1

		margin: -6px 0 -52px

		color: $gray-lighter_2
		font-size: 17.2rem
		line-height: 1
		font-weight: 700

		white-space: nowrap

		+number

		+md-desk_min_only
		+md-height_mdl
			margin: -4px 0 -42px
			font-size: 13.8rem

	&__title
		position: relative
		z-index: 2

		margin: -11px 0 17px

		color: $gray-darker
		font-size: $font-size-large
		font-weight: 700
		line-height: 2

		+md-desk_min_only
		+md-height_mdl
			margin: -13px 0 15px
			font-size: $font-size-medium

		&_last
			margin-bottom: -13px

			+md-desk_min_only
			+md-height_mdl
				margin-bottom: -11px

	&__description
		position: relative
		z-index: 2

		margin: -12px 0 -13px

		font-weight: 300
		line-height: 2.25

		+md-desk_min_only
		+md-height_mdl
			margin: -10px 0 -11px
			font-size: $font-size-small

	&__cover
		background-color: $gray-lightest_2
		background-size: cover
		background-position: center