.b-text-line
	font-family: $font-family-sans-serif
	line-height: 2

	&_sm
		margin: -6px 0 -9px
		font-size: $font-size-xs

	&_weight_300
		font-weight: 300

	&_long
		letter-spacing: .08em

	&_light
		color: $gray-light