.b-tracks-list
	$z_i-item-cover:		1
	$z_i-item-content:		2
	$z_i-item-title:		3

	$w-item-duration:		60px
	$w-item-duration_h_min:	54px

	&__item
		position: relative

		width: 33.3334%
		height: 100%

		padding-right: $w-item-duration

		background-color: $gray-lightest

		+md-height_mdl
			padding-right: $w-item-duration_h_min

		&:nth-child(even)
			background-color: $gray-lightest_2

	&__item-content
		position: relative

		height: 100%
		min-height: 210px

		padding: $m-col

	&__item-heading
		margin: -7px 0 9px

		color: $c-h
		font-size: $font-size-xxxl
		line-height: 1.3
		letter-spacing: .08em
		font-weight: 600

		text-align: center
		text-transform: uppercase

		+md-desk_min_only
		+md-height_mdl
			margin: -5px 0 11px
			font-size: $font-size-xxl

		&_last
			margin-bottom: -11px

			+md-desk_min_only
			+md-height_mdl
				margin-bottom: -8px

	&__item-subheading
		margin: -8px 0 -9px

		color: $gray
		font-size: $font-size-medium
		line-height: 1.75
		font-weight: 300

		text-align: center

		+md-desk_min_only
		+md-height_mdl
			margin: -6px 0 -8px
			font-size: $font-size-small

	&__item_active &__item-content

		&:after
			content: ''

			position: absolute
			bottom: 0
			left: 0
			z-index: $z_i-item-content

			width: 100%
			height: 80px

			background-image: linear-gradient( to top, rgba($gray-darker, 0.4) 0%, rgba($gray-darker, 0.1) 60%, rgba($gray-darker, 0) )

			+md-height_mdl
				height: 70px

	&__item-cover
		position: absolute
		top: 0
		left: 0
		z-index: $z_i-item-cover

		width: 100%
		height: 100%

		background-color: $gray-lightest
		background-position: center
		background-size: cover

	&__item-title
		position: absolute
		bottom: 23px
		left: 0
		z-index: $z_i-item-title

		width: 100%

		padding: 0 $m-col

		color: $white
		font-size: $font-size-medium
		font-weight: 600
		line-height: 1.75

		text-align: center

		+md-height_mdl
			font-size: $font-size-small

	&__item-title-text
		display: block
		margin: -8px 0 -9px
		letter-spacing: .08em

		+md-height_mdl
			margin: -6px 0 -8px

	&__item-info
		position: absolute
		top: 0
		right: 0

		width: $w-item-duration
		height: 100%

		background-color: $white

		text-align: center

		+md-height_mdl
			width: $w-item-duration_h_min

	&__item-number-text
		$valign: 2px

		position: absolute
		top: -$w-item-duration
		left: 0

		padding-top: $valign
		padding-left: 20px

		color: $gray-darker
		font-size: $font-size-large
		font-weight: 600
		line-height: $w-item-duration - $valign

		white-space: nowrap

		transform: rotate(90deg)
		transform-origin: bottom left

		+md-height_mdl
			top: -$w-item-duration_h_min
			padding-left: 15px
			font-size: $font-size-medium
			line-height: $w-item-duration_h_min - $valign

	&__item-number
		position: absolute
		top: 109px
		left: 0

		width: 100%

		margin: -1px 0 -15px

		color: $gray-darker
		font-size: 4.8rem
		line-height: 1
		font-weight: 700

		+number

		+md-height_mdl
			top: 93px
			margin: 0 0 -9px
			font-size: 3rem

	&__item-duration
		position: absolute
		bottom: $w-item-duration + 15px

		width: 100%

		margin: -3px 0 -7px

		color: $gray-darker
		font-size: $font-size-medium
		line-height: 1.25
		font-weight: 700

		+number

		+md-height_mdl
			bottom: 64px
			margin: -1px 0 -6px
			font-size: 1.4rem

	&__item-btn-open
		position: absolute
		bottom: 0
		left: 0

		overflow: hidden

		width: 100%
		height: $w-item-duration

		padding: 5px

		background-color: $brand-info

		cursor: pointer

		+md-height_mdl
			height: $w-item-duration_h_min

		&:before
			$h-this: 10px

			content: ''

			position: absolute
			top: -$h-this
			left: 0

			width: 100%
			height: $h-this

			box-shadow: 0 2px 5px rgba($b_sh_c, 0)

			transition: box-shadow .2s

		&:hover

			&:before
				box-shadow: 0 2px 5px rgba($b_sh_c, 0.2)

		&:active

			&:before
				box-shadow: 0 2px 5px rgba($b_sh_c, 0.4)


	&__item-btn-open-text-wrapper
		width: 100%

		+center_tsf( $x: 0, $not: 'x' )

	&__item-btn-open-text
		display: block

		margin: -8px 0 -10px

		color: $white
		font-size: $font-size-small
		line-height: 2
		font-weight: 600

		text-align: center

		+md-height_mdl
			margin: -6px 0 -9px
			font-size: $font-size-xs