.b-track-info-sm
	$z_i-item-cover:	1
	$z_i-item-content:	2
	$z_i-item-title:	3

	&__main-info
		position: relative
		height: calc( 100vh - #{$h-b-header + $h-b-heading + $h-b-nav-mb - $brd_w} )

	&__main-info-content
		position: relative
		height: calc( 100% - #{$h-b-steps-nav} )

		&:after
			content: ''

			position: absolute
			bottom: 0
			left: 0
			z-index: $z_i-item-content

			width: 100%
			height: 80px

			background-image: linear-gradient(to top, rgba($gray-darker, 0.4) 0%, rgba($gray-darker, 0.1) 60%, transparent 100%)

	&__cover
		position: absolute
		top: 0
		left: 0
		z-index: $z_i-item-cover

		width: 100%
		height: 100%

		background-color: $gray-lightest_2
		background-size: cover
		background-position: center

	&__title
		position: absolute
		bottom: 26px
		left: 0
		z-index: $z_i-item-title

		width: 100%

		padding: 0 $m-col

		color: $white
		font-size: $font-size-medium
		font-weight: 600
		line-height: 1.75

		text-align: center

	&__title-text
		display: block
		margin: -8px 0 -9px
		letter-spacing: .08em

	&__number
		position: absolute
		left: 50%
		bottom: 18px
		z-index: 9

		color: $gray-darker
		font-size: 36px
		line-height: 1
		font-weight: 700

		transform: translateX(-50%)

		white-space: nowrap

		+number

	&__number-text
		display: block
		margin: -1px 0 -11px

	&__more-info
		border-top: $brd_w solid $brd_c
		padding: 40px 0 60px

	&__duration
		margin: 0 0 27px

		color: $gray-darker
		font-size: $font-size-xs
		line-height: 1
		font-weight: 700
		letter-spacing: .08em

		white-space: nowrap

		&_last
			margin-bottom: -3px

	&__description
		margin: -12px 0 -13px
		color: $gray
		line-height: 2.25