.b-visual-label
	$p_t:	40px

	position: relative

	display: block

	padding-top: $p_t

	cursor: pointer

	&_male_sign

		@extend .i-male_sign

	&_female_sign

		@extend .i-female_sign

	&:after
		color: $brd_c
		transition: color .4s

		+center-tsf( $y: 0, $not: 'y' )

	&_male_sign:after
		$h:	24px

		top: ($p_t - $p_t)/2
		font-size: $h

	&_active.b-visual-label_male_sign

		&:after
			color: rgba($brand-primary, .6)

	&_female_sign:after
		$h:	26px

		top: ($p_t - $p_t)/2
		font-size: $h

	&_active.b-visual-label_female_sign

		&:after
			color: rgba($brand-danger, .6)

	&__text
		display: block

		margin: -5px 0 -6px

		color: $gray-light
		font-size: $font-size-small
		line-height: 1.5
		font-weight: 500

		text-align: center

	&_active &__text
		color: $gray