.l-content-wrapper

	padding-top: $h-b-header

	+row()

	+md-desk_min_only
		padding-top: $h-b-header_desk_min

	+md-tablet
		padding-bottom: $h-b-nav-mb

	&_with_heading,
	&_with_heading_brd_b_none_mb,
	&_with_heading_brd_b_none_tb
		padding-top: $h-b-header + $h-b-heading

		+md-desk_min_only
			padding-top: $h-b-header_desk_min + $h-b-heading_desk_min

	&_with_heading_brd_b_none_tb

		+md-tablet
			padding-top: $h-b-header + $h-b-heading - $brd_w

	&_with_heading_brd_b_none_mb

		+md-mobile
			padding-top: $h-b-header + $h-b-heading - $brd_w

	&__item

		&_major