.l-profile
	display: table
	table-layout: fixed

	width: 100%
	height: 100%

	&__item
		position: relative
		display: table-cell
		vertical-align: top

		&_left_fixed_block
			z-index: 1
			width: 300px