.l-valign-center

	+cell( $valign: middle )

	&_destroy_mb

		+md-mobile

			+cell_set( $item: '.l-valign-center_destroy_mb > .l-valign-center__item', $ind-item: true )

	&_slider_destroy_mb

		+md-mobile

			+cell_set( $item: '.l-valign-center_destroy_mb > .l-valign-center__item', $ind-item: true, $w: 100%, $display: table )

			table-layout: fixed

	&_w_auto
		width: auto

		+md-tablet
			width: 100%

	&_destroy_mb

		+md-mobile

			+cell_set( $item: '.l-valign-center_destroy_mb > .l-valign-center__item', $ind-item: true )

	&_slider_destroy_mb

		+md-mobile

			+cell_set( $item: '.l-valign-center_destroy_mb > .l-valign-center__item', $ind-item: true, $w: 100%, $display: table )

			table-layout: fixed

	&_w_auto
		width: auto

		+md-tablet
			width: 100%

	&_main
		padding: 40px

		+md-tablet
			padding: 60px

		+md-mobile
			padding: 0

	&_without_inside_space
		padding: 0

	&_sign

		@media only screen and (max-width: $md-mobile) and (min-width: $w-b-sign)
			padding: 20px

	&__item