/* Slider */

.slick

	&-slider
		width: 100%
		position: relative
		display: block
		box-sizing: border-box
		touch-action: pan-y
		-webkit-tap-highlight-color: transparent

	&-list
		position: relative
		overflow: hidden
		display: block
		margin: 0
		padding: 0

		&:focus
			outline: none

		&.dragging
			cursor: pointer
			cursor: hand

	&-slider &-list
		transform: translate3d(0, 0, 0)

	&-track
		position: relative
		left: 0
		top: 0
		display: block

		&:before,
		&:after
			content: ""
			display: table

		&:after
			clear: both

	&-loading &-track
		visibility: hidden

	&-slider &-track
		transform: translate3d(0, 0, 0)

	&-slide
		display: none

		float: left

		height: 100%
		min-height: 1px

		transition: .3s

		[dir="rtl"] &
			float: right

		img
			display: block

		&.c-slick-loading img
			display: none

		&.dragging img
			pointer-events: none

	&-initialized &-slide
		display: block

	&-loading &-slide
		visibility: hidden

	&-vertical &-slide
		display: block
		height: auto
		border: 1px solid transparent

	&-arrow &-hidden
		display: none