@if $_use_common == true

	*::selection
		background: $brand-primary
		color: $white

	*
		box-sizing: border-box
		letter-spacing: $lts

	*:before,
	*:after
		box-sizing: border-box
		letter-spacing: $lts

	html
		font-size: $font-size-main
		-webkit-tap-highlight-color: rgba(0,0,0,0)
		word-wrap: break-word

	body
		min-width: $w-min
		min-height: $h-min

		background-color: $bg-body

		color: $c-text-base

		// use font styles separately because if U'll use rem
		// That's broken on ie <= 10
		font-family: $font-family-base
		font-size: $font-size-body
		line-height: $line-height-base
		font-weight: $font-weight-base

		overflow-x: hidden

		+md-mobile
			min-height: auto

		&._no_scroll
			height: 100%
			overflow: hidden

		// for testinng mobile version
		&._mobile_test
			width: 320px

	button,
	a // set reset
		letter-spacing: $lts