.-ol-container_tb

	+md-tablet
		position: relative

		max-width: $w-container
		width: $w-container_tb

		margin: 0 auto
		padding: 0 $m-col_tb

	&_full

		+md-tablet
			position: relative

			width: $w-container_full

			margin: 0 auto
			padding: 0 $m-col_tb