._events-none
	pointer-events: none

._pd_btn_next
	margin-bottom: 70px

	+md-tablet
		margin-bottom: 40px

._bg_light
	background-color: $bg_light

._bg_white_mb

	+md-mobile
		background-color: $white

._h_100_per
	height: 100%

._min_h_auto
	min-height: auto

._hidden
	overflow: hidden

._brd_t
	border-top: $brd_w solid $brd_c

._center_block
	margin-left: auto
	margin-right: auto