mixin b-footer()

	.b-footer.c-footer&attributes(attributes)

		.-ol-container_full

			.-ol-row

				.b-footer__inner.l-valign-center.-ol-col-12

					.b-footer__item.l-valign-center__item

						ul.b-socials._tb_none

							li.b-socials__item
								a.b-socials__link.b-socials__link_fc(href="#!")

							li.b-socials__item
								a.b-socials__link.b-socials__link_in(href="#!")

							li.b-socials__item
								a.b-socials__link.b-socials__link_tw(href="#!")

					.b-footer__item.l-valign-center__item

						ul.b-footer__nav

							li.b-footer__nav-item.b-footer__nav-item_first
								a.b-footer__link(href="privacy.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text About Us

							li.b-footer__nav-item
								a.b-footer__link(href="terms.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text Contact us

							li.b-footer__nav-item
								a.b-footer__link(href="terms.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text Terms of service

							li.b-footer__nav-item
								a.b-footer__link(href="terms.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text General Advice Warning

							li.b-footer__nav-item
								a.b-footer__link(href="terms.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text Financial Services Guide

							li.b-footer__nav-item
								a.b-footer__link(href="terms.html", target="_blank")
									.l-valign-center.l-valign-center_w_auto
										.l-valign-center__item
											.b-footer__text Privacy

					.b-footer__item.b-footer__item_last.l-valign-center__item

						p.b-footer__copyright
							span.b-footer__text © Financial Mindfulness 2016