mixin b-header(nav)

	.b-header

		.-ol-container_full

			.-ol-row

				.b-header__frame.l-valign-center.-ol-col-12

					.l-valign-center__item

						.b-header__inner

							.b-header__inner-item

								a(href="index.html").b-header__logo
									img.b-header__logo-img(src="media/img/logo.png" alt="logo")

							if nav

								.b-header__inner-item

									nav.b-header__nav

										each item in nav

											.b-header__nav-item

												a.b-header__nav-link( target=( item.target ? "_blank" : undefined ), href=item.link, class=( item.active === true ? 'b-header__link_active' : undefined ) )

													.l-valign-center.l-valign-center_w_auto

														.l-valign-center__item

															.b-header__nav-text= item.name

								.b-header__inner-item

									.b-header__user

										a.b-header__user-info(href="profile_page.html")

											.b-header__user-info-item.b-header__user-info-item_name
												.b-header__user-name Anna Bakurova

											.b-header__user-info-item.b-header__user-info-item_last
												.b-header__user-photo
													img(src="media/img/content/users/1.jpg", alt="photo")

										.b-header__drop-down

											ul.b-header__drop-down-list

												li.b-header__drop-down-item
													a.b-header__drop-down-link(href="profile_page.html") Settings

												li.b-header__drop-down-item.b-header__drop-down-item_last
													a.b-header__drop-down-link(href="index.html") Logouts

							//- .b-header__inner-item
							//- 	a(href="sign_in.html").-ol-btn.-ol-btn Login