mixin b-heading(heading, textClass)

	.b-heading&attributes(attributes)

		.-ol-container_full

			.-ol-row

				.-ol-col-12

					h2.b-heading__text(class=( textClass ? textClass : undefined ))= heading