mixin b-nav-mb(nav)

	if nav

		.b-nav-mb

			each item in nav

				a.b-nav-mb__item( target=( item.target ? "_blank" : undefined ), href=item.link, class=( item.active === true ? 'b-nav-mb__item_active' : undefined) )

					.l-valign-center
						.l-valign-center__item

							.b-nav-mb__text-wrapper(class="b-nav-mb__text-wrapper_#{item.className}")
								.b-nav-mb__text= item.name