mixin b-profile-info()

	.b-profile-info&attributes(attributes)

		.b-profile-info__inner

			.l-vertically

				.l-vertically__item.l-vertically__item_major

					.b-profile-info__item

						.b-profile-info__heading-info

							.l-valign-center

								.l-valign-center__item

									button.b-profile-info__edit.-ol-btn-edit.c-modal__bind(data-number="1")

									.b-profile-info__overview

										.c-circle(data-value="0.55")

										.b-profile-info__photo
											img(src="media/img/content/users/default.jpg" alt="photo")

										.b-profile-info__progress

											.b-profile-info__progress-item

												.b-profile-info__progress-number 55
													span.b-profile-info__progress-persent %

									.b-profile-info__name.b-profile-info__name_last Anna Bakurova

					.b-profile-info__item

						.b-profile-info__progress-increase

							.b-profile-info__progress-increase-inner

								.b-profile-info__progress-increase-inner-item.b-profile-info__progress-increase-inner-item_first

									.b-profile-info__progress-increase-number +45
										span.b-profile-info__progress-increase-persent %

								.b-profile-info__progress-increase-inner-item.b-profile-info__progress-increase-inner-item_last
									.b-profile-info__progress-increase-clue Take our <a href="wellness_survey.html" class="-ol-link">Welness Survey</a>

					.b-profile-info__item.b-profile-info__item_last

						.b-profile-info__info
							.b-profile-info__info-item
								.b-profile-info__info-heading Address
								.b-profile-info__info-text 2 Podolskih Kursantov<br>Podolsk Russia <span class="b-profile-info__info-text-number _inline-block">142105</span>

							.b-profile-info__info-item
								.b-profile-info__info-heading Phone
								.b-profile-info__info-text-number +7 915 000 79 09

							.b-profile-info__info-item.b-profile-info__info-item_last
								.b-profile-info__info-heading E-mail

								.b-confirmed-icon._center_block

									.b-confirmed-icon__item
										.b-profile-info__info-text fugaon@mail.ru

									.b-confirmed-icon__item.b-confirmed-icon__item_last
										.b-confirmed-icon__icon-wrapper
											.b-confirmed-icon__icon

				.l-vertically__item

					.b-profile-info__item.b-profile-info__item_brd_none

						.b-profile-info__btn-wrapper

							button.-ol-btn.-ol-btn_lg.-ol-btn_lg_horiz_min._full_w Change password