mixin b-profile-options()

	.b-profile-options&attributes(attributes)

		.b-profile-options__inner

			.b-profile-options__item
				.b-profile-options__header
					.b-profile-options__header-text.b-profile-options__header-text_last Session’s Options

			.b-profile-options__item
				.b-profile-options__subheading
					.b-profile-options__subheading-text Voice

			.b-profile-options__item

				.b-profile-options__option-item.b-profile-options__option-item_without_inside_horiz_space

					.l-gender-switcher

						.l-gender-switcher__item.l-gender-switcher__item_text
							label.b-visual-label.b-visual-label_male_sign.b-visual-label_active.c-visual-label_gender(for="gender")
								span.b-visual-label__text Man

						.l-gender-switcher__item.l-gender-switcher__item_switcher
							.-ol-switcher.-ol-switcher_gender
								input#gender.c-switcher(type="checkbox" data-element=".c-visual-label_gender" data-class="b-visual-label_active")
								.-ol-switcher__box
									.-ol-switcher__round

						.l-gender-switcher__item.l-gender-switcher__item_text
							label.b-visual-label.b-visual-label_female_sign.c-visual-label_gender(for="gender")
								span.b-visual-label__text Woman