mixin b-steps-nav__arrows(prevClass, nextClass)

	.b-steps-nav&attributes(attributes)
		button.b-steps-nav__arrow.b-steps-nav__arrow_prev.b-steps-nav__item( class=( prevClass != null ? prevClass : undefined ) ) Prev
		button.b-steps-nav__arrow.b-steps-nav__arrow_next.b-steps-nav__item( class=( nextClass != null ? nextClass : undefined ) ) Next