mixin b-stats()

	.b-stats&attributes(attributes)

		h3.b-stats__heading.b-stats__item
			.b-stats__heading-inner
				.b-stats__heading-text My Stats

		table.b-stats__table.b-stats__item.b-stats__item_last

			tbody.b-stats__table-body

				tr.b-stats__table-row

					td.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__amount 24
								.b-stats__period days

					td.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__amount 153
								.b-stats__period minutes

					td.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__amount 12
								.b-stats__period sessions

					td.b-stats__table-cell.b-stats__table-cell_last
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__amount 243
								.b-stats__period minutes

			tfoot.b-stats__table-footer

				tr.b-stats__table-row

					th.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__stat-heading Days in a row

					th.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__stat-heading Average Duration

					th.b-stats__table-cell
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__stat-heading Number Of Sessions

					th.b-stats__table-cell.b-stats__table-cell_last
						.b-stats__table-cell-inner
							.b-stats__table-cell-content
								.b-stats__stat-heading Time Meditating