mixin b-survey(step, steps, heading, question)

	.b-survey&attributes(attributes)

		.b-survey__content.b-survey__item.b-survey__item_major

			if step != null

				.b-survey__step.b-box__item <span class="b-survey__step_active">#{step}</span> of #{steps}

			.l-valign-center

				.b-survey__question.l-valign-center__item

					h3.b-survey__question-heading.b-box__item= heading
					.b-survey__question-text.b-box__item= question

		.b-survey__answer-wrapper.b-survey__item

			.b-box__item.b-box__item_last

				.b-survey__answer

					.l-valign-center

						.l-valign-center__item
							.b-survey__answer-btn.b-survey__answer-btn_extremely.l-valign-center(role="button")
								.l-valign-center__item
									.b-survey__answer-btn-text Extremely

						.l-valign-center__item
							.b-survey__answer-btn.b-survey__answer-btn_quite.l-valign-center(role="button")
								.l-valign-center__item
									.b-survey__answer-btn-text Quite a lot

						.l-valign-center__item
							.b-survey__answer-btn.b-survey__answer-btn_moderately.l-valign-center(role="button")
								.l-valign-center__item
									.b-survey__answer-btn-text Moderately

						.l-valign-center__item
							.b-survey__answer-btn.b-survey__answer-btn_little.l-valign-center(role="button")
								.l-valign-center__item
									.b-survey__answer-btn-text A little

						.l-valign-center__item
							.b-survey__answer-btn.b-survey__answer-btn_not.l-valign-center(role="button")
								.l-valign-center__item
									.b-survey__answer-btn-text Not at all