include b-footer.jade
include b-header.jade
include b-heading.jade
include b-nav-mb.jade

include b-profile-info.jade
include b-profile-options.jade
include b-stats.jade
include b-steps-nav__arrows.jade
include b-survey.jade