@if $_use_container == true

	.-ol-container
		position: relative

		max-width: $w-container

		margin: 0 auto
		padding: 0 $m-col

		+md-tablet
			width: $w-container_tb
			padding: 0 $m-col_tb

		&_full
			position: relative

			width: $w-container_full

			margin: 0 auto
			padding: 0 $m-col

			+md-tablet
				padding: 0 $m-col_tb