@if $_use_grid == true

	.-ol-row
		position: relative
		margin: 0 (-$p_horiz-col)

		// @extend .-ol-clfx

		&:before,
		&:after
			content: ""
			display: table

		&:after
			clear: both

		[class*='-ol-col']
			float: left

		+md-tablet
			margin: 0 (-$p_horiz-col_tb)

	.-ol-row_inline
		position: relative
		margin: 0 (-$p_horiz-col)

		+inline( $item: '> [class*=-ol-col-]' )

		+md-tablet
			margin: 0 (-$p_horiz-col_tb)

	.-ol-row_flex
		position: relative

		display: flex
		flex-wrap: wrap

		margin: 0 (-$p_horiz-col)

		+md-tablet
			margin: 0 (-$p_horiz-col_tb)

	.-ol-row_without_inside_space
		margin: 0

	+col