@if $_use_modifiers == true

	._full_w
		width: 100% !important

	._none
		display: none !important

	._block
		display: block !important

	._inline-block
		display: inline-block !important

	._inline
		display: inline !important

	._mb_none
		display: block !important

		+md-mobile
			display: none !important

	._mb_only
		display: none !important

		+md-mobile
			display: block !important

		&._inline

			+md-mobile
				display: inline !important

	._tb_none

		+md-tablet
			display: none !important

	._tb_only
		display: none !important

		+md-tablet
			display: block !important

		&._inline

			+md-tablet
				display: inline !important

	._text_center
		text-align: center