@if $_use_tabs == true

	/**
	 * extend .clfx from
	 * core -> snippets -> float.less
	 */

	.-ol-tab-dl
		width: 100%

		@extend .-ol-clfx

		dt
			float: left

		dd
			display: none
			float: right

			width: 100%

			margin: 50px 0 0 -100%
			position: relative
			z-index: 2

			&.active
				display: block