.-ol-btn
	display: inline-block

	margin-bottom: 0 // For input.-ol-btn
	border-style: solid

	background-image: none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214

	font-weight: $btn-font-weight

	text-align: center
	vertical-align: middle

	cursor: pointer
	touch-action: manipulation

	+btn-size( $w-btn, $h-btn, $brd_rd-btn, $p_vert-btn, $p_horiz-btn, $f_sz-btn, $lh-btn, $brd_w-btn )

	+btn-variant( $c-btn-filled, $bg_c-btn-primary, $per-btn_hover, $per-btn_active )

	&._disabled,
	&[disabled]

		+btn-variant( $c-btn-disabled, $bg_c-btn-disabled, 0, 0 )

		cursor: not-allowed
		pointer-events: none // Future-proof disabling of hover, active, click

	&_next
		$p_horiz-btn: $p_horiz-btn + $w-btn-next__icon + $r-btn-next__icon

		position: relative
		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

		@extend .i-arrow_right

		&:after
			$h: 12px

			position: absolute
			top: 50%
			right: $r-btn-next__icon - $brd_w-btn

			margin-top: -$h/2

			color: $white
			font-size: $h

	&_step
		$p_horiz-btn: $p_horiz-btn + ($h-btn_wanted - $m-btn__number * 2) + $m-btn__number

		position: relative
		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	&__number
		position: absolute
		top: $m-btn__number - $brd_w-btn
		left: $m-btn__number - $brd_w-btn

		display: block // tag span

		width: ($h-btn_wanted - $m-btn__number * 2)
		height: ($h-btn_wanted - $m-btn__number * 2)

		border-radius: 50%
		padding-top: $valign-btn__number

		background-color: $c-btn-filled

		color: $bg_c-btn-primary
		line-height: ($h-btn_wanted - $m-btn__number * 2) - $valign-btn__number
		font-weight: 700

		text-align: center

		+number

	&:hover &__number
		color: darken($bg_c-btn-primary, $per-btn_hover)

	&:active &__number
		color: darken($bg_c-btn-primary, $per-btn_hover + $per-btn_active)

.-ol-btn_default

	+btn-variant( $c-btn-default, $bg_c-btn-default, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $bg_c-btn-default
		color: $c-btn-default

	&:hover .-ol-btn__number
		color: darken($c-btn-default, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($c-btn-default, $per-btn_hover + $per-btn_active)

.-ol-btn_default_light

	+btn-variant( $c-btn-default_light, $bg_c-btn-default_light, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $bg_c-btn-default_light
		color: $c-btn-default_light

	&:hover .-ol-btn__number
		color: darken($c-btn-default_light, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($c-btn-default_light, $per-btn_hover + $per-btn_active)

.-ol-btn_primary

	+btn-variant( $c-btn-filled, $bg_c-btn-primary, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-filled
		color: $bg_c-btn-primary

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-primary, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-primary, $per-btn_hover + $per-btn_active)

.-ol-btn_primary_light

	+btn-variant( $c-btn-primary_light, $bg_c-btn-primary_light, $per-btn_hover, $per-btn_active )

	border-color: transparent !important

	&.-ol-btn_next

		&:after
			color: $c-btn-primary_light

	.-ol-btn__number
		background-color: $white
		color: $c-btn-primary_light

	&:hover .-ol-btn__number
		color: darken($c-btn-primary_light, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($c-btn-primary_light, $per-btn_hover + $per-btn_active)

.-ol-btn_success
	
	@extend .-ol-btn

	+btn-variant( $c-btn-filled, $bg_c-btn-success, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-filled
		color: $bg_c-btn-success

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-success, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-success, $per-btn_hover + $per-btn_active)

.-ol-btn_info

	+btn-variant( $c-btn-filled, $bg_c-btn-info, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-filled
		color: $bg_c-btn-info

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-info, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-info, $per-btn_hover + $per-btn_active)

.-ol-btn_warning

	+btn-variant( $c-btn-filled, $bg_c-btn-warning, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-filled
		color: $bg_c-btn-warning

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-warning, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-warning, $per-btn_hover + $per-btn_active)

.-ol-btn_danger

	+btn-variant( $c-btn-filled, $bg_c-btn-danger, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-filled
		color: $bg_c-btn-danger

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-danger, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-danger, $per-btn_hover + $per-btn_active)

.-ol-btn_outline

	+btn-outline-variant( $c-btn-outline, $bg_c-btn-outline, $c-btn-outline_hover )

	.-ol-btn__number
		background-color: $c-btn-outline
		color: $bg_c-btn-outline

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-outline, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-outline, $per-btn_hover + $per-btn_active)

.-ol-btn_discolored

	+btn-variant( $c-btn-discolored, $bg_c-btn-discolored, $per-btn_hover, $per-btn_active )

	.-ol-btn__number
		background-color: $c-btn-discolored
		color: $bg_c-btn-discolored

	&:hover .-ol-btn__number
		color: darken($bg_c-btn-discolored, $per-btn_hover)

	&:active .-ol-btn__number
		color: darken($bg_c-btn-discolored, $per-btn_hover + $per-btn_active)

.-ol-btn_link
	width: auto
	height: auto

	border: 0
	border-radius: 0
	padding: 0

	+btn-link( $brd-c-btn-link, $c-btn-link, $brd-c-btn-link_hover, $c-btn-link_hover )


// Button Sizes
// --------------------------------------------------

.-ol-btn_lg

	+btn-size( $w-btn_lg, $h-btn_lg, $brd_rd-btn_lg, $p_vert-btn_lg, $p_horiz-btn_lg, $f_sz-btn_lg, $lh-btn_lg, $brd_w-btn_lg )

	&.-ol-btn_next
		$p_horiz-btn: $p_horiz-btn_lg + $w-btn-next__icon + $r-btn-next__icon

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	&.-ol-btn_step
		$p_horiz-btn: $p_horiz-btn_lg + ($h-btn_lg_wanted - $m-btn__number * 2) + $m-btn__number

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	.-ol-btn__number
		top: $m-btn__number - $brd_w-btn_lg
		left: $m-btn__number - $brd_w-btn_lg

		width: ($h-btn_lg_wanted - $m-btn__number * 2)
		height: ($h-btn_lg_wanted - $m-btn__number * 2)

		line-height: ($h-btn_lg_wanted - $m-btn__number * 2) - $valign-btn__number

.-ol-btn_lg_horiz_min
	padding-left: $p_vert-btn - $brd_w-btn_lg
	padding-right: $p_vert-btn - $brd_w-btn_lg


.-ol-btn_sm

	+btn-size( $w-btn_sm, $h-btn_sm, $brd_rd-btn_sm, $p_vert-btn_sm, $p_horiz-btn_sm, $f_sz-btn_sm, $lh-btn_sm, $brd_w-btn_sm )

	&.-ol-btn_next
		$p_horiz-btn: $p_horiz-btn_sm + $w-btn-next__icon + $r-btn-next__icon

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	&.-ol-btn_step
		$p_horiz-btn: $p_horiz-btn_sm + ($h-btn_sm_wanted - $m-btn__number * 2) + $m-btn__number

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	.-ol-btn__number
		top: $m-btn__number - $brd_w-btn_sm
		left: $m-btn__number - $brd_w-btn_sm

		width: ($h-btn_sm_wanted - $m-btn__number * 2)
		height: ($h-btn_sm_wanted - $m-btn__number * 2)

		line-height: ($h-btn_sm_wanted - $m-btn__number * 2) - $valign-btn__number

.-ol-btn_xs

	+btn-size( $w-btn_xs, $h-btn_xs, $brd_rd-btn_xs, $p_vert-btn_xs, $p_horiz-btn_xs, $f_sz-btn_xs, $lh-btn_xs, $brd_w-btn_xs )

	&.-ol-btn_next
		$p_horiz-btn: $p_horiz-btn_xs + $w-btn-next__icon + $r-btn-next__icon

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	&.-ol-btn_step
		$p_horiz-btn: $p_horiz-btn_xs + ($h-btn_xs_wanted - $m-btn__number * 2) + $m-btn__number

		padding-left: $p_horiz-btn
		padding-right: $p_horiz-btn

	.-ol-btn__number
		top: $m-btn__number - $brd_w-btn_xs
		left: $m-btn__number - $brd_w-btn_xs

		width: ($h-btn_xs_wanted - $m-btn__number * 2)
		height: ($h-btn_xs_wanted - $m-btn__number * 2)

		line-height: ($h-btn_xs_wanted - $m-btn__number * 2) - $valign-btn__number

.-ol-btn_min_w_mdl
	min-width: 180px

.-ol-btn_visibility

	@extend .i-visible

	&:after
		font-size: 14px

.-ol-btn-edit
	font-size: 0
	line-height: 0
	letter-spacing: 0

	@extend .i-edit

	&:after
		color: $brd_c
		font-size: 15px
		transition: .2s

	&:hover

		&:after
			color: $brand-info

.-ol-btn-round-play
	$d:		90px
	$d-sm:	70px

	position: absolute
	top: calc( 50% - #{$d/2} )
	left: calc( 50% - #{$d/2} )
	z-index: $z_i-btn-round-play

	width: $d
	height: $d

	border-radius: 50%

	background-color: $white
	box-shadow: 0 8px 20px rgba($b_sh_c, .2)

	transition: .2s

	&_right
		left: calc( 100% - #{$d/2} )

	&_sm
		width: $d-sm
		height: $d-sm

		top: calc( 50% - #{$d-sm/2} )
		left: calc( 50% - #{$d-sm/2} )

	&_sm_right
		left: calc( 100% - #{$d-sm/2} )

	&:hover
		box-shadow: 0 8px 20px rgba($b_sh_c, .3)

	&:active
		box-shadow: 0 8px 20px rgba($b_sh_c, .15)

	&:before
		content: ''

		position: absolute
		top: calc( 50% - 13px )
		left: calc( 50% - 8px )
		z-index: 1

		width: 0
		height: 0

		border: 12px solid transparent
		border-left: 20px solid #c2ddf2
		border-right: 0

	&_sm:before
		top: calc( 50% - 10px )
		left: calc( 50% - 7px )

		border-width: 9px
		border-left-width: 14px

	&:after
		content: attr(data-text)

		position: absolute
		top: 44px
		left: 0
		z-index: 2

		width: 100%

		margin: -7px 0 -8px

		color: $gray-darker
		font-size: $font-size-large
		line-height: 1.5
		font-weight: 600

		text-align: center

	&_sm:after
		top: 35px
		font-size: $font-size-small