body
	overflow: hidden // for preloader

	&._loaded
		overflow-y: visible // for preloader

	&._modal-active
		overflow: hidden

		&::after
			content: ''

			position: fixed
			top: 0
			left: 0

			width: 100%
			height: 365px

			background: linear-gradient(to bottom, $white 0%, rgba($white, 0) 100%)

html,
body,
.-ol-body
	height: 100%

.-ol-body
	position: relative