.-ol-input,
.-ol-textarea
	display: block
	width: 100%

.-ol-input,
.-ol-textarea
	padding: $p_vert-input $p_horiz-input
	border-width: 0 0 $brd_w-input
	border-color: transparent
	border-style: solid
	border-radius: $brd_rd-input

	background: $bg-input

	color: $c-input
	font-size: $fsz-input
	line-height: $h-input - $brd_w-input - $p_vert-input * 2

	+placeholder

.-ol-input
	height: $h-input
	text-overflow: ellipsis

.-ol-input-wrap
	position: relative

	&:before
		content: ''

		position: absolute
		bottom: 0
		left: 0
		z-index: 1

		width: 100%
		height: $brd_w-input

		background-color: $brd_c-input

	&_error-clue

		.-ol-input-error
			width: calc( 50% - #{$p_horiz-input-subtext} )

	&_error

		&:before
			background-color: $brd_c-form-error

		.-ol-input
			color: $c-form-error

		.-ol-input-error
			opacity: 1

		.-ol-input-clue
			width: calc( 50% - #{$p_horiz-input-subtext} )

		.-ol-input-error
			padding-right: 5px

		.-ol-input-clue
			padding-left: 5px

	&_currency
		$p_l: 30px

		padding-left: $p_l

		&:before
			left: $p_l
			width: calc( 100% - #{$p_l} )

		&:after
			content: attr(data-currency)

			position: absolute
			top: 0
			left: -1px

			padding-top:  $p_vert-input

			color: $brand-info
			font-size: $font-size-large
			line-height: $h-input - $brd_w-input - $p_vert-input * 2
			font-weight: 300

.-ol-input-error,
.-ol-input-clue
	position: absolute
	top: calc( 100% + 10px )

	margin: -3px 0 -6px

	font-size: $font-size-xs
	line-height: 1.5
	font-weight: 300

.-ol-input-error
	left: $p_horiz-input-subtext

	opacity: 0

	color: $brand-danger
	text-align: left

	transition: opacity .2s

.-ol-input-clue
	right: $p_horiz-input-subtext

	color: $brand-primary
	text-align: right

.-ol-btn_visibility
	position: absolute
	top: 50%
	right: 12px

	margin-top: -7px

	line-height: 0

.-ol-input-file
	position: relative
	overflow: hidden
	width: 100%

	input
		$h-input-file: 100%

		width: 100%
		height: $h-input-file

		position: absolute
		top: 0
		left: 0
		z-index: 3

		opacity: 0

		cursor: pointer

.-ol-textarea
	height: $h-textarea
	resize: none
	overflow: auto

.-ol-label
	display: block

.-ol-label-text
	margin: -4px 0 9px
	padding-left: $p_horiz-input

	color: $c-label
	font-size: $f_sz-label
	font-weight: $f_w-label

	& + .-ol-input,
	& + .-ol-textarea
		margin-top: $mb-label

	&_last
		margin-bottom: -6px

	&_simple
		padding-left: 0

.-ol-row-input + .-ol-row-input
	margin-top: $m-row-input

.-ol-form-body
	margin-bottom: $m-form-body

	&_lg
		margin-bottom: $m-form-body_lg

.-ol-switcher
	$w: 		40px
	$h: 		20px

	$w-div:		$h - 4px
	$h-div:		$w-div

	position: relative

	input
		position: absolute
		top: 0
		left: 0
		z-index: 1

		width: 100%
		height: 100%

		opacity: 0

	&__box
		width: $w
		height: $h

		overflow: visible !important

		border: none
		border-radius: round($h/2)

		background-color: $gray-lighter

		transition: all .2s

		cursor: pointer

	input:checked ~ &__box
		background-color: $brand-primary

	&__round
		position: absolute
		top: ($h - $h-div)/2
		left: ($h - $h-div)/2

		width: $w-div
		height: $h-div

		border-radius: 50%

		background-color: $white
		box-shadow: 0 4px 8px rgba($black, .15)

		transition: all .2s

	input:checked ~ &__box &__round
		left: $w - $w-div - ($h - $h-div)/2

	&_gender &__box
		background-color: $brand-primary

	&_gender input:checked ~ &__box
		background-color: $brand-danger