.i-shadow,
.i-google,
.i-linkedin,
.i-visible,
.i-hidden,
.i-arrow_right,
.i-arrow_bottom,
.i-arrow_left_2,
.i-arrow_right_2,
.i-arrow_left_3,
.i-arrow_right_3,
.i-arrow_bottom,
.i-budget,
.i-survey,
.i-sessions,
.i-search,
.i-edit,
.i-tick,
.i-upload,
.i-facebook,
.i-twitter,
.i-smile-1,
.i-smile-2,
.i-smile-3,
.i-smile-4,
.i-smile-5,
.i-pause,
.i-play,
.i-male_sign,
.i-female_sign

	+font-sprite

.i-google

	&:after
		content: '\e901'

.i-linkedin

	&:after
		content: '\e902'

.i-visible

	&:after
		content: '\e900'

.i-hidden

	&:after
		content: '\e903'

.i-arrow_right // btn next arrow

	&:after
		content: '\e904'

.i-arrow_left_2 // prev button

	&:after
		content: '\e905'

.i-arrow_right_2 // next button

	&:after
		content: '\e906'

.i-arrow_left_3

	&:after
		content: '\e911'

.i-arrow_right_3

	&:after
		content: '\e912'

.i-arrow_bottom // b-scroll arrow

	&:after
		content: '\e907'

.i-budget // nav

	&:after
		content: '\e908'

.i-survey // nav

	&:after
		content: '\e909'

.i-sessions // nav

	&:after
		content: '\e90a'

.i-search // select

	&:after
		content: '\e90b'

.i-edit

	&:after
		content: '\e90c'

.i-tick

	&:after
		content: '\e90d'

.i-upload

	&:after
		content: '\e90e'

.i-facebook

	&:after
		content: '\e90f'

.i-twitter

	&:after
		content: '\e910'

.i-smile-1

	&:after
		content: '\e913'

.i-smile-2

	&:after
		content: '\e914'

.i-smile-3

	&:after
		content: '\e915'

.i-smile-4

	&:after
		content: '\e916'

.i-smile-5

	&:after
		content: '\e917'

.i-pause

	&:after
		content: '\e918'

.i-play

	&:after
		content: '\e919'

.i-male_sign

	&:after
		content: "\e91a"

.i-female_sign

	&:after
		content: "\e91b"