.-ol-table
	table-layout: fixed
	width: 100%
	text-align: left

	td,
	th
		vertical-align: middle

		height: 55px

		border: $brd_w solid $brd_c
		padding: $p_vert-td $p_horiz-td

	&_tb

		td,
		th

			+md-tablet
					padding: $p_vert-td_tb $p_horiz-td_tb

	&_style_1 td,
	&_style_1 th
		border: none

		+ th,
		+ td
			border-left: $brd_w solid $brd_c

		&:first-child
			width: 280px

		&:not(:first-child)
			text-align: center

	&_style_1_tb td,
	&_style_1_tb th

		&:first-child

			+md-tablet
					width: 25%

	&_style_1 &__footer th,
	&_style_1 &__footer td

		+ th,
		+ td
			border-left-color: transparent

	&__th,
	&__td
		position: relative

		&:before,
		&:after
			content: ''

			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%

			background-color: transparent

			transition: .2s

		&_horiz_hover:not(:first-child):before,
		&_vert_hover:not(:first-child):after
			background-color: rgba( $brand-primary, .08 )

	&__th-text,
	&__td-text
		position: relative
		z-index: 1

	&__th-text
		display: block

		margin: -8px 0 -10px

		color: $gray-darker
		font-size: $font-size-small
		line-height: 2
		font-weight: 600

		transition: .2s

		&_lg
			margin: -10px 0 -11px
			font-size: $font-size-medium

	&__th-text_tb

		+md-tablet
			margin: -3px 0 -6px
			font-size: $font-size-xs
			line-height: 1.5

		&_lg

			+md-tablet
				margin: -5px 0 -6px
				font-size: $font-size-small

	&__td-text
		display: block

		margin: -8px 0 -9px

		color: $gray
		font-size: $font-size-medium
		line-height: 1.75

		&_number
			margin: -7px 0 -11px

			+number

		&_marked
			color: $brand-primary

		&_bold
			font-weight: 700

	&__td-text_tb

		+md-tablet
			margin: -6px 0 -8px
			font-size: $font-size-small

		&_number

			+md-tablet
				margin: -5px 0 -9px

	&__footer

		tr:first-child

			th,
			td
				border-top: $brd_w solid $brd_c

		th,
		td
			height: 85px

	&_even

		tbody

			tr:nth-child(2n)
				background: $table_even

	&_odd

		tbody

			tr:nth-child(2n-1)
				background: $table_odd

.-ol-table__th_horiz_hover.-ol-table__td_vert_hover

	.-ol-table__td-text
		color: $gray-darker
		font-weight: 600



.-ol-table-mb
	table-layout: fixed

	width: 100%

	margin-bottom: 60px

	text-align: left

	&_last
		margin-bottom: 0

	th,
	td
		vertical-align: middle
		height: 60px
		padding: 25px $m-col_tb

		&:last-child
			text-align: right

		&:first-child
			text-align: left

	&__header th,
	&__header td

		&:last-child,
		&:first-child
			text-align: center

	&__header
		background-color: $gray-lightest

	&__th-text,
	&__td-text
		display: block

	&__th-text
		margin: -8px 0 -10px
		color: $gray-darker
		font-size: $font-size-small
		font-weight: 600
		line-height: 2

	&__td-text
		margin: -8px 0 -9px

		color: $gray
		font-size: $font-size-medium
		line-height: 1.75
		font-weight: 700

		&_number
			margin: -7px 0 -11px

			+number

		&_marked
			color: $brand-primary

	&_even

		tbody

			tr:nth-child(2n)
				background: $gray-lightest

	&_odd

		tbody

			tr:nth-child(2n-1)
				background: $gray-lightest