.-ol-content h1,
.-ol-h1
	margin: (-$m_t-h1) 0 (60px - $m_b-h1)

	&_last
		margin-bottom: -$m_b-h1

.-ol-content h2,
.-ol-h2
	margin: (-$m_t-h2) 0 (50px - $m_b-h2)

	&_last
		margin-bottom: -$m_b-h2

.-ol-content p,
.-ol-p
	margin: (-$m_t-p) 0 (-$m_b-p)
	line-height: 2.25

.-ol-content b,
.-ol-b,
.-ol-content strong,
.-ol-strong
	color: $gray-darker