.select2-dropdown {
	overflow: hidden;
	margin-top: 15px;
	border: $brd_w-input solid $brd_c-input;
	border-radius: 10px;
}

.select2-results {

	> .select2-results__options {
		max-height: 225px;
		overflow-y: auto;
	}
}

.select2-results__options {

}

.select2-results__option {
	padding: 10px 24px 9px;
	line-height: 1.375;

	&:first-child {
		padding-top: 20px;
	}

	&:last-child {
		padding-bottom: 19px;
	}

	&[role=group] {
		padding: 0;
	}

	&[aria-disabled=true] {
		color: #999;
	}

	&[aria-selected=true] {
		position: relative;
		background-color: $bg_light;
		color: $brand-primary;

		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 2px;
			height: 100%;

			background-color: $brand-primary;
		}
	}

	.select2-results__option {
		padding-left: 1em;

		.select2-results__group {
			padding-left: 0;
		}

		.select2-results__option {
			margin-left: -1em;
			padding-left: 2em;

			.select2-results__option {
				margin-left: -2em;
				padding-left: 3em;

				.select2-results__option {
					margin-left: -3em;
					padding-left: 4em;

					.select2-results__option {
						margin-left: -4em;
						padding-left: 5em;

						.select2-results__option {
							margin-left: -5em;
							padding-left: 6em;
						}
					}
				}
			}
		}
	}
}

.select2-results__option--highlighted {

	&[aria-selected] {
		color: $brand-primary;
	}
}

.select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
}

.select2-container--open {

	.select2-dropdown {

	}

	.select2-dropdown--above {

	}

	.select2-dropdown--below {

	}
}

.select2-search--dropdown {
	position: relative;
	padding: 0; // to set default style

	@extend .i-search;

	&:after {
		$h: 16px;

		position: absolute;
		top: 50%;
		right: 24px;

		margin-top: -$h/2;
		color: $brd_c-input;
		font-size: $h;
	}

	.select2-search__field {
		height: $h-input;

		border-bottom: $brd_w-input solid $brd_c-input;
		padding: 0 24px;

		background-color: $bg_light;

		@include placeholder($c-placeholder, $c-placeholder, $c-placeholder);

		&::-webkit-search-cancel-button {
		}
	}

	&.select2-search--hide {
	}
}
