.select2-selection--single {
	height: $h-input;

	border-width: 0 0 $brd_w-input;
	border-color: transparent;
	border-style: solid;

	padding: $p_vert-input $p_horiz-input;
	padding-right: $w-select-arrow;

	background-color: $bg-input;

	.select2-selection__rendered {
		padding: 0; // to set default style
		padding-top: 1px; // to align text

		color: $c-input;
		line-height: $h-input - $brd_w-input - $p_vert-input * 2;
	}

	.select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold;
	}

	.select2-selection__placeholder {
		color: #999;
	}

	.select2-selection__arrow {
		height: $h-input;

		position: absolute;

		top: 0;
		right: 0;

		width: $w-select-arrow;

		b {
			$brd_w: $w-select-arrow__icon/2;

			border-color: $gray-light transparent transparent transparent;
			border-style: solid;
			border-width: $brd_w $brd_w 0 $brd_w;

			height: 0;
			left: 50%;

			margin-left: -$brd_w;
			margin-top: -($brd_w/2);

			position: absolute;

			top: 50%;
			width: 0;
		}
	}
}

&[dir="rtl"] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}

		.select2-selection__arrow {
			left: 1px;
			right: auto;
		}
	}
}

&.select2-container--disabled {
	.select2-selection--single {
		background-color: #eee;
		cursor: default;

		.select2-selection__clear {
			display: none;
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			$brd_w: $w-select-arrow__icon/2;

			b {
				border-color: transparent transparent $gray-light transparent;
				border-width: 0 $brd_w $brd_w $brd_w;
			}
		}
	}
}
