.b-modal.c-modal(data-number="4")

	.b-modal__overlay.c-modal__overlay.c-modal__close

	.b-heading.b-heading_sm.b-heading_sm_brd_b_none.b-heading_lightest.b-heading_modal_close._mb_only.c-modal__close

		.-ol-container_full

			.-ol-row

				.-ol-col-12

					.b-heading__text.b-heading__text_sm Close

	.b-modal__inner.c-modal__inner

		.b-modal__box-wrapper.c-modal__box-wrapper

			.b-box.b-box_sm.c-modal__box._mb_only

				+b-heading("Pre-session question", "b-heading__text_sm")(class="b-box__item b-box__item_first _text_center")

				.b-box__body.b-box__body_without_inside_space_mb.b-box__item.b-box__item_last._text_center

					form.b-box.b-box_md.b-box_md_slider(action="")
						.b-box__item.b-box__item_first.b-box__item_last
							+b-survey(null, null, "How calm are you right now?", "Click the smile corresponding to your calmness level")(class="b-survey_style_3_mb")

			.b-box.b-box_sm.c-modal__box._mb_none

				+b-heading("How calm are you right now?")(class="b-heading_lg b-heading_brd_b_none_mb b-box__item b-box__item_first _text_center")

				.b-box__body.b-box__body_without_inside_space_mb.b-box__body_p_b_default_mb.b-box__item.b-box__item_last._text_center

					.b-survey.b-survey_style_2

						.b-survey__item

							.b-survey__answer.b-survey__answer_first

								.b-survey__answer-inner

									.b-survey__answer-inner-item

										a.b-survey__answer-btn.b-survey__answer-btn_extremely(href="player.html")
											.l-valign-center(role="button")
												.l-valign-center__item
													.b-survey__answer-btn-text Stressed

									.b-survey__answer-inner-item

										a.b-survey__answer-btn.b-survey__answer-btn_quite(href="player.html")
											.l-valign-center(role="button")
												.l-valign-center__item
													.b-survey__answer-btn-text Annoyed

									.b-survey__answer-inner-item

										a.b-survey__answer-btn.b-survey__answer-btn_moderately(href="player.html")
											.l-valign-center(role="button")
												.l-valign-center__item
													.b-survey__answer-btn-text Normal

									.b-survey__answer-inner-item

										a.b-survey__answer-btn.b-survey__answer-btn_little(href="player.html")
											.l-valign-center(role="button")
												.l-valign-center__item
													.b-survey__answer-btn-text Calm

									.b-survey__answer-inner-item

										a.b-survey__answer-btn.b-survey__answer-btn_not(href="player.html")
											.l-valign-center(role="button")
												.l-valign-center__item
													.b-survey__answer-btn-text Happy

						.b-survey__item.b-survey__item_major

							.-ol-container_tb

								.b-text-line.b-text-line_sm.b-text-line_light.b-text-line_weight_300.b-text-line_long Click the circle corresponding to your calmness level