.b-modal.c-modal(data-number="1")

	.b-modal__overlay.c-modal__overlay.c-modal__close

	.b-heading.b-heading_sm.b-heading_sm_brd_b_none.b-heading_lightest.b-heading_modal_close._mb_only.c-modal__close

		.-ol-container_full

			.-ol-row

				.-ol-col-12

					.b-heading__text.b-heading__text_sm Close

	.b-modal__inner.c-modal__inner

		.b-modal__box-wrapper.c-modal__box-wrapper

			.b-box.c-modal__box(style="width: 920px;")

				+b-heading('Profile info')(class="b-box__item b-box__item_first _text_center b-heading_lg")

				.b-box__body.b-box__item.b-box__item_last

					.-ol-row-input.-ol-row

						.-ol-col-4

							label.-ol-label
								.-ol-label-text E-mail

								.-ol-input-wrap
									input.-ol-input(type="text", placeholder="Enter your e-mail", value="Email address")

						.-ol-col-4

							label.-ol-label
								.-ol-label-text First name

								.-ol-input-wrap
									input.-ol-input(type="text", placeholder="First name")

						.-ol-col-4

							label.-ol-label
								.-ol-label-text Last name

								.-ol-input-wrap
									input.-ol-input(type="text", placeholder="Last name")

					.-ol-row-input.-ol-row

						.-ol-col-4

							label.-ol-label
								.-ol-label-text Country

								.-ol-input-wrap
									select.c-select(data-placeholder="Country")
										option
										option(selected) Australia

						.-ol-col-4

							label.-ol-label
								.-ol-label-text Company

								.-ol-input-wrap
									input.-ol-input(type="text", placeholder="Company name")

						.-ol-col-4

							label.-ol-label
								.-ol-label-text Phone

								.-ol-input-wrap
									input.-ol-input(type="text", placeholder="Phone number")

					.-ol-row-input

						.b-footer-btn

							.b-footer-btn__item
								button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg Save

							.b-footer-btn__item
								button.b-footer-btn__btn.b-footer-btn__btn_fixed_w.-ol-btn.-ol-btn_lg.-ol-btn_discolored Cancel