.b-divisions.-ol-row

	.b-divisions__item.l-valign-center.-ol-col-4

		.l-valign-center__item

			.b-divisions__content

				._pd_btn_next
					h2.-ol-h2 Wellness Survey
					p.-ol-p An important first step on your journey to Financial Wellness is to understand your own experience of financial stress. Take this short assessment

				a.-ol-btn.-ol-btn-outline.-ol-btn_lg(href="#!") Get Started

	.b-divisions__item.l-valign-center.-ol-col-4

		.l-valign-center__item

			.b-divisions__content

				._pd_btn_next
					h2.-ol-h2 Mindfulness page
					p.-ol-p Or of you are keen to get started right away on lowering your stress click here to find out how Mindfulness can help lower your stress

				a.-ol-btn.-ol-btn-outline.-ol-btn_lg(href="#!") Get Started

	.b-divisions__item.l-valign-center.-ol-col-4

		.l-valign-center__item

			.b-divisions__content

				._pd_btn_next
					h2.-ol-h2 Budget Tool
					p.-ol-p Or if you want to get straight to it the bottom line so to speak click here to get a picture of your financial health to see how the numbers stack up

				a.-ol-btn.-ol-btn-outline.-ol-btn_lg(href="#!") Get Started