.b-hero

	.b-hero__content.l-valign-center

		.l-valign-center__item

			.-ol-container

				._pd_btn_next
					h2.-ol-h1 Welcome to Financial Mindfulness!
				a.-ol-btn.-ol-btn_default.-ol-btn_default_light.-ol-btn_lg(href="#!") Get Started

	//- .b-scroll
	//- 	.b-scroll__text Scroll