.b-preloader.c-preloader-progress

	.b-preloader__inner

		.b-preloader__progress._tb_none.c-preloader-progress__bar
		.b-preloader__progress.b-preloader__progress_h._tb_only.c-preloader-progress__bar_vert

		.b-preloader__counter
			.b-preloader__counter-text.c-preloader-progress__number 0

		.b-preloader__icon