.b-short-info

	.b-short-info__inner

		.-ol-container

			.b-short-info__content

				._pd_btn_next

					.-ol-row

						.-ol-col-8
							h2.-ol-h2 Financial Mindfulness wants to help

					.-ol-row

						.-ol-col-6
							p.-ol-p We want to help make every Australian feel less stressed and to enjoy a sense of financial well-being

				.-ol-row

					.-ol-col-12

						a.-ol-btn.-ol-btn_lg(href="#!") Get Started

			.b-short-info__img.b-short-info__img_happy

	//- .b-scroll
	//- 	.b-scroll__text Scroll