.b-short-info

	.b-short-info__inner

		.-ol-container

			.b-short-info__content

				.-ol-row

					.-ol-col-8
						h2.-ol-h2 Up to 1 in 3 Australian find dealing with finances stressful

				.-ol-row

					.-ol-col-6
						p.-ol-p Many of us, even when we are doing well financially,  still find financial decisions  and planning complicated and stressful?

			.b-short-info__img.b-short-info__img_upset

	//- .b-scroll
	//- 	.b-scroll__text Scroll