.b-sign

	.b-sign__heading.b-box__item
		h2.b-sign__heading-text Sign in
		.b-sign__heading-change-section or <a href="#!" class="-ol-link">Sign up</a>
	
	.b-sign__forms.b-box__item

		.-ol-form-body_lg

			.-ol-row-input
				.-ol-input-wrap
					input.-ol-input(type="text", placeholder="Email")
					.-ol-input-error
						p Enter your email

			.-ol-row-input
				.-ol-input-wrap.-ol-input-wrap_clue
					input.-ol-input(type="text", placeholder="Password")
					.-ol-input-error
						p Enter your password
					a(href="#").-ol-input-clue Forgot your password?

		button.-ol-btn.-ol-btn_primary.-ol-btn_lg Sign in
	
	.b-sign__or-line.b-box__item
		p.b-sign__or-line-text or sign in with

	.b-sign__socials.b-box__item.b-box__item_last

		button.b-sign__socials-item.b-sign__socials-item_gl.-ol-col-6.-ol-col-tb-6

		button.b-sign__socials-item.b-sign__socials-item_last.b-sign__socials-item_in.-ol-col-6.-ol-col-tb-6