.b-sign

	.b-sign__heading.b-box__item
		h2.b-sign__heading-text Sign up
		.b-sign__heading-change-section or <a href="#!" class="-ol-link">Sign in</a>
	
	form.b-sign__forms.b-box__item

		.-ol-form-body_lg

			.b-sign__forms-step

				.-ol-row-input
					.-ol-input-wrap
						input.-ol-input(type="text", placeholder="Email")
						.-ol-input-error
							p Enter your email

				.-ol-row-input
					.-ol-input-wrap
						input.-ol-input(type="text", placeholder="Password")
						button.-ol-btn.-ol-btn_visibility
						.-ol-input-error
							p Enter your password

				.-ol-row-input
					.-ol-input-wrap
						input.-ol-input(type="text", placeholder="Invite code")
						.-ol-input-error
							p Enter your invite code

			.b-sign__forms-step.b-sign__forms-step_active

				.-ol-row-input
					.-ol-input-wrap
						input.-ol-input(type="text", placeholder="First name")
						.-ol-input-error
							p Enter your first name

				.-ol-row-input
					.-ol-input-wrap.-ol-input-wrap_error
						input.-ol-input(type="text", placeholder="Company")
						.-ol-input-error
							p Enter your company name

				.-ol-row-input
					.-ol-input-wrap
						select.c-select(data-placeholder="City")
							option
							option Sydney
							option Albury
							option Armidale
							option Bathurst
							option Blue Mountains
							option Broken Hill
							option Campbelltown
							option Cessnock
							option Dubbo
							option Goulburn
							option Grafton
							option Lithgow
							option Liverpool
							option Newcastle
							option Orange
							option Parramatta
							option Penrith
							option Queanbeyan
							option Tamworth
							option Wagga Wagga
							option Wollongong

		.b-sign__forms-step
			button.-ol-btn.-ol-btn_lg.-ol-btn_primary.-ol-btn_next.-ol-btn_step(type="button") Sign up
				span.-ol-btn__number 1

		.b-sign__forms-step.b-sign__forms-step_active
			button.-ol-btn.-ol-btn_lg.-ol-btn_primary.-ol-btn_step(type="submit") Sign up
				span.-ol-btn__number 2
	
	.b-sign__or-line.b-box__item
		p.b-sign__or-line-text or sign up with

	.b-sign__socials.b-box__item.b-box__item_last

		button.b-sign__socials-item.b-sign__socials-item_gl.-ol-col-6.-ol-col-tb-6

		button.b-sign__socials-item.b-sign__socials-item_last.b-sign__socials-item_in.-ol-col-6.-ol-col-tb-6